[2022-09-14 19:34] alex-frankel commented on #8332
@bhsubra -- can you see if this is related to the snippet logic changes we did to support VS?

[2022-09-14 20:10] StephenWeatherford commented on #8224
My Mac's at home.  I'll try to repro later with these files:
[code]
[code]

[2022-09-14 21:03] Azure-hacker commented on #8234
Hi,
I am having the same issue, but differently, it could be related.
I am trying to create a Bicep template for my Automation Account with a runbook on it, getting its content from a raw content file in my Azure DevOps.

Here is the snippet:
`resource runbook 'Microsoft.Automation/automationAccounts/runbooks@2019-06-01' = {
  parent: autaccount
  name: runbookname
  location: location
  propertie

[2022-09-14 21:03] Azure-hacker commented on #8234
Hi,
I am having the same issue, but differently, it could be related.
I am trying to create a Bicep template for my Automation Account with a runbook on it, getting its content from a raw content file in my Azure DevOps.

Here is the snippet:
`resource runbook 'Microsoft.Automation/automationAccounts/runbooks@2019-06-01' = {
  parent: autaccount
  name: runbookname
  location: location
  propertie

[2022-09-14 22:55] alex-frankel commented on #7903
There is no charge to create a ticket, but I don't know if all tiers of an Azure subscription allow it.

[2022-09-14 23:10] alex-frankel commented on #6789
We are in the process of updating how we communicate these sorts of issues to specific resource providers. I will send the team an email, but in the meantime, the most effective way to get more progress on this issue will be to open a support ticket and request this be routed to the Insights Resource Provider team.

[2022-09-14 23:21] alex-frankel opened #8409 "Support regex in parameter validation"
I think this is tricky to implement in the ARM runtime as there are concerns over non-performant regex, but don't know the details well enough. Also seems like it may be related to #4158. cc @jeskew as FYI

Some context below from #2922:

---

Coming from the perspective of a longtime AWS CloudFormation and Terraform author now starting to use bicep - this type of password complexity validation ca

[2022-09-15 05:59] nicktolhurst commented on #2973
☝️ I haven't much more to add to the above.

I'd expect to lint out to a file supported by a test report task / action, such as [Azure Pipelines Publish Test Results task](https://docs.microsoft.com/azure/devops/pipelines/tasks/test/publish-test-results).

A JSON output could be useful, but I don't actually have a use case for this.

As for the default behaviour? I think the default should be huma

[2022-09-15 07:09] mvossjaehne-wktaa commented on #784
[code]
If tier is not specified, than "what-If" reports a change.

[2022-09-15 09:11] Fobermeyer commented on #8320
it happens in true and false cases which is the problem. it should not lookup the .output if its false

thanks for linking the dup. i have workaround implemented where i put the output in a var
`output paramstate bool = deployGLBwithCert

module appGwPrivate 'appw-private-endpoint.bicep' =  if (deployGLBwithCert) {
  name: 'appGwPrivate'
  params: {
    appGwId: appgw.id
    location: location

[2022-09-15 09:14] Fobermeyer commented on #2371
that would be my workaround which helped

output paramstate bool = deployGLBwithCert

module appGwPrivate 'appw-private-endpoint.bicep' =  if (deployGLBwithCert) {
  name: 'appGwPrivate'
  params: {
    appGwId: appgw.id
    location: location
    pepName: pepName
    subnetJumpSpokeId: subnetJumpSpokeId
  }
}
var varpepnicid = (deployGLBwithCert) ? appGwPrivate.outputs.pepNicId : 'nothing to add'

[2022-09-15 10:03] jtracey93 opened #8410 "`use-resource-id-functions` linter rule not spotting `if` conditional that is wrapped in parens `( )`"
**Bicep version**

`0.10.61`

**Describe the bug**
`use-resource-id-functions` linter rule not spotting `if` conditional that is wrapped in brackets `( )`

Error message: `If property "id" represents a resource ID, it must use a symbolic resource reference, be a parameter or start with one of these functions: extensionResourceId, guid, if, reference, resourceId, subscription, subscriptionResourceI

[2022-09-15 13:26] chelhernandez commented on #8234
@Azure-hacker I can see in your 'uri' parameter that you have a 'Get ' before the https:// link. It should be uri: 'https//linktoyour.ps1'. I think that's the reason you're getting "The uri field is not a valid fully-qualified http, https or ftp URL."

[2022-09-15 14:14] alex-frankel commented on #7865
Can anyone confirm if this issue has been resolved?

[2022-09-15 14:16] alex-frankel commented on #8216
This looks like a duplicate of #7865. It should be resolved by now. Can you check if you are still able to reproduce?

[2022-09-15 14:16] #8216 closed

[2022-09-15 14:17] alex-frankel commented on #8335
Can you share the complete bicep code you are using to reproduce the issue?

[2022-09-15 14:54] alex-frankel commented on #8382
This does in fact look like a false positive. I'm assuming we are string matching on `*id*`. We will take a look.

[2022-09-15 14:56] ChristopherGLewis commented on #4158
Adding [DataCollectionRules ](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/datacollectionrules?pivots=deployment-language-bicep) as a resource that typically uses a JSON value.  The [MS recommended](https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-enable-resource-manager) template looks like this:

[code]

with the dataSources, destinations and dataFlows pa

[2022-09-15 14:57] alex-frankel commented on #8387
We do want to align the Az PowerShell and Az CLI installations so they install to the same location. That is tracked with #3447.

VS Code is actually a different file (a `.vsix` file), so there is not a way to share an installation the way you describe. In addition, we are worried about the precedent of VS Code managing assets it does not itself need/use.

[2022-09-15 15:01] alex-frankel commented on #8403
@davidcho23 -- is this related to the condition scope validation change you made?

@Gordonby -- can you confirm that this code was working as expected in the older version for both conditions? If so, this is likely a false positive error. FWIW, we only throw errors when we (think we) know the code will fail to deploy. That's why it's an error and not a warning.

[2022-09-15 15:04] Gordonby commented on #8403
Affirmative, the code worked for both conditions.

[2022-09-15 15:10] Jacob-Steentoft commented on #8407
Thanks for the insight @alex-frankel.
In case this is not on bicep, would this be sent through the Azure Portal to reach the Web Resource Provider team?

[2022-09-15 15:26] jeskew commented on #8409
There are some safety mechanisms we could use when executing user-supplied regular expressions, such as setting a strict timeout. We may also be able to use a non-backtracking engine, though I believe that would not support the full PCRE2 standard.

[2022-09-15 16:05] MrMCake commented on #8403
Same here, we used to have ascope statement

`scope: encryptionActivateWorkspace ? resourceGroup(split(cMKKeyVaultResourceId, '/')[2], split(cMKKeyVaultResourceId, '/')[4]) : resourceGroup()`

which is not working anymore unfortunately

[2022-09-15 16:07] anthony-c-martin commented on #8403
@alex-frankel - this was related to my change

[2022-09-15 16:18] anthony-c-martin commented on #8403
We'll have a discussion on whether we should hotfix this issue with a new Bicep release.

In the meantime I think the workaround is going to have to be to pin to an older version of Bicep (0.9.1)

[2022-09-15 16:33] alex-frankel commented on #8407
Yes, the support ticket needs to be created in the azure portal.

[2022-09-15 16:48] alex-frankel commented on #8405
What are the deployment exceptions? Is this an issue with Bicep/ARM Template deployments or with the ACA RP?

[2022-09-15 16:54] alex-frankel commented on #8410
Possibly another false positive. Thanks for reporting.

[2022-09-15 16:54] anthony-c-martin commented on #8403
@Gordonby would you mind sharing a more complete code sample (or link to a repo) if possible?

[2022-09-15 17:00] jtracey93 commented on #8410
@alex-frankel no problem, anytime.

Any thoughts on the uses of parentheses `()` here thats causing it? Have we just got them where we don't need them (aware thats not the linter rules concern here, but it is causing it)?

Maybe another linter rule idea "unrequired parentheses" etc.?

[2022-09-15 17:02] alex-frankel commented on #1171
No updates atm. The work is not scheduled, but definitely something we'd like to get to or maybe someone from the community could pick up as external contribution.

[2022-09-15 17:19] alex-frankel commented on #8410
Oh sorry I missed that piece. These parens are a no-op, so I would recommend removing them. I agree this would be a helpful linter rule.

[2022-09-15 17:43] jtracey93 commented on #8410
No worries, thanks for the rapid response. We'll update our code our end in ALZ-Bicep.

But this is still a bug that we probably want to handle on this linter rule.

Do you want me to open a new issue for the new suggestion of the linter rule?

[2022-09-15 18:05] eriqua commented on #8403
@anthony-c-martin if useful you can also leverage the CARML Synapse Workspaces module as a failing example here https://github.com/Azure/ResourceModules/blob/main/modules/Microsoft.Synapse/workspaces/deploy.bicep#L233
Thanks!

[2022-09-15 18:12] alex-frankel commented on #1779
Is it not possible to use the `bicep decompile` command on the exported template? When we do add Bicep support to portal export, that is what we will be doing on your behalf, so the result will be the same.

[2022-09-15 18:22] lucas-lelis opened #8412 "Managed Application deployment bug"
**Bicep version**
bicep --version
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
During the bicep deployment the code is compiled to ARM template but for Managed Applications, the parameters are not being compiled as expected.
Bicep
![image](https://user-images.githubusercontent.com/75315490/190479627-258c9c40-2d67-48e1-8b1b-3173128365f8.png)
ARM Template compiled during deployment:

[2022-09-15 18:22] Gordonby commented on #8403
Here's the new bicep file we created to work around the problem
https://github.com/Azure/AKS-Construction/blob/main/bicep/aksnetcontrib.bicep

Here's the old one that failed.
https://github.com/Azure/AKS-Construction/blob/0.8.10/bicep/aksnetcontrib.bicep

[2022-09-15 18:58] SetTrend commented on #8387
Thanks for all your efforts, @alex-frankel!

About the VS Code extension: I could see it downloads some .NET 6 library files to a local folder when it's run for the first time.

Isn't it possible for the VS Code extension to also download/contain the Bicep CLI installer and install/update Bicep CLI to the default location?

[2022-09-15 20:45] mumian commented on #7003
This is completed.

[2022-09-15 20:45] #7003 closed

[2022-09-15 20:46] mumian commented on #7718
Completed.

[2022-09-15 20:46] #7718 closed

[2022-09-15 22:26] alex-frankel commented on #8410
I'm going to add triage back and we can discuss it next week. I'm not sure if we should do one or the other or both.

[2022-09-15 23:09] StephenWeatherford commented on #8410
Parens shouldn't matter, think it should be noticing the use of tenant().tenantId anywhere in the expression.

[2022-09-15 23:11] StephenWeatherford commented on #8410
Dup of https://github.com/Azure/bicep/issues/8104 (but thanks for reporting)

[2022-09-15 23:14] StephenWeatherford commented on #8410
Reopening since there is something weird going on with the parens...

[2022-09-15 23:44] ArmaanMcleod commented on #2839
You seen to have `ms-azuretools.vscode-bicep` twice there 😄

[2022-09-16 00:54] wahyuen commented on #7865
I can confirm that if you do not specify the `properties` node, that ASP deployment can now succeed.

![image](https://user-images.githubusercontent.com/4549796/190533544-cb8c2c6f-6fe7-4414-83d3-cca8b594ee5c.png)

corresponding ARM template generated during deployment

![image](https://user-images.githubusercontent.com/4549796/190533583-e038e004-47ff-44cf-b28d-a1fbfa2a55bd.png)

[2022-09-16 05:08] aytimothy commented on #8232
@coolhome Hm, maybe I was thinking that setting a `dependsOn` would hint at bicep that the `serverFarmId` would then be hinted for bicep to figure it out.

[2022-09-16 05:31] jorgensigvardsson commented on #3689
Any updates?

[2022-09-16 11:50] brndkfr commented on #6540
Any plans / ETAs by when this will be available?

[2022-09-16 12:34] Ellestad1995 commented on #1013
I'm using a Azure Policy to register dns records from Azure PaaS services when they are created with a private endpoint. That process takes around 8 minutes to complete.

So when a deployment creates a private endpoint together with a service that is dependant on the existence of the record in a private dns zone, the dpeloyment fails because the deployment is quicker that the policy takes to regis

[2022-09-16 12:50] siamx commented on #6540
As a work around we wrapped our PS script in this section

[code]

[2022-09-16 13:41] JohnProctorEntegra commented on #6639
Am having exactly this issue, could do with a nicer solution to it, the existing looping mechanisms feel like a limitation here.

[2022-09-16 16:18] bmoore-msft opened #8417 "linter should flag unnecessary dependsOn with existing resources"
linter should flag a resource that has a manually added dependsOn for an existing resource...  during compilation we do the right thing (and don't add the dependency), we should flag the dead code in the editor

[code]

[2022-09-16 17:03] abdullah-lt commented on #6540
Is there any better way to achieve this ?

[2022-09-16 17:54] michael-crawford commented on #784
Is the SFTP Preview feature supported in bicep?

I'm using the official Quickstart for this: https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.storage/storage-sftp/main.bicep, and getting this error:
Warning BCP037: The property "isLocalUserEnabled" is not allowed on objects of type "StorageAccountPropertiesCreateParametersOrStorageAccountProperties". Permissibl

[2022-09-16 18:12] bhsubra commented on #8332
@StefanIvemo, thanks for reporting the issue.

This issue should be fixed in latest version - v0.10.61. Could you please let me know if that is not the case?

I have v0.10.61 on my machine and this is what I see:
![8332](https://user-images.githubusercontent.com/30270536/190704772-a88ae384-c414-48ae-8f24-5718d2eb0f3e.gif)

Thanks!

[2022-09-16 18:15] bhsubra commented on #8332
Ah ignore my above comment. I see the issue. I'll take a look. Thanks!

[2022-09-16 19:43] bjompen commented on #8383
I added one possible solution in PR #8418 , feel free to comment and suggest improvements.

[2022-09-16 20:53] glloyd2010f opened #8419 "Build with no Resources declared creates bad output"
**Bicep version**
Bicep CLI version 0.6.18 (46dd19e8eb)

**Describe the bug**
1. When doing a build on a bicep file that does not have any resources declared it will create the resources block as `"resources": {}`.
2. When attempting to deploy the same file to a Bicep Registry it will fail the upload with the following error message.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Bui

[2022-09-16 21:05] StephenWeatherford commented on #5258
Same for templates, nested templates, resources...
[code]

[2022-09-17 10:50] graemefoster commented on #5974
Yes - I also just had this issue. Conditional dependsOn from something in a different scope breaks if you don't deploy that thing.

[2022-09-18 12:45] aczelandi commented on #7259
@alex-frankel - thanks for providing some workarounds.
Deployment scripts are problematic when it comes to accessing resources that are running in a VNET because the container instance (in which the PS script is ultimately executed) can't be placed within the VNET.
The same thing has been discussed in #6540  - would you have some pointers to that?

[2022-09-18 13:57] SujathaGangireddy commented on #1171
Hi Team,

I am trying to write a condition based on the parameter value.
trying to find out the location based on the serviceLocation parameter.
if ($ServiceLocation -eq 'westeurope') {
    $LocationCode = 'EUS'
  }
if ($ServiceLocation -eq 'southcentralus' {
   $LocationCode = 'SCU'
}
if ($ServiceLocation -eq 'brasilsouth' {
    $LocationCode = 'BRS'
}

how do I write this on bicep

[2022-09-19 07:10] JanneHarju commented on #645
Hello @obiwanjacobi I think you can do it through devops using Azure cli like you are using it with bicep but not using bicep at all. I found this blog by searching: "azure devops app registration to azure ad" - https://blog.hompus.nl/2020/11/11/manage-azure-ad-applications-from-an-azure-devops-pipeline/

[2022-09-19 13:53] glloyd2010f commented on #8405
@alex-frankel I would say this is more related to the ACA RP. I use this method with Azure App Services for the App Settings and it works fine.

[code]

[2022-09-19 14:16] TomMalow opened #8424 "False-positive `use-resource-id-functions` litner warning on for principal id"
**Bicep version**
Seen on VS Code Extension v0.10.61

**Describe the bug**
A new linter warning has appeared when setting up access for an AAD principal Id to access a Cosmos database with sql assignment resource.
The issue only appear when running a for-loop over a list of principal id to assign. Creating separate resource for each principal id does not trigger the same warning.

**To Reproduce**

[2022-09-19 16:33] jongio commented on #8340
1. Because I want to have a clean module interface - passing that around causes me to have it in main and then every module and every nested module needs it.  Mostly aesthetics.   I'd be okay with it being a global variable, but I don't believe we have that in bicep yet.

2. I want slim files for faster deployment times.  Uploaded ARM/Bicep templates to Azure takes time every time and the bigger t

[2022-09-19 16:59] alex-frankel commented on #8340
Related to #6970

[2022-09-19 17:17] glloyd2010f commented on #8419
Since the running the bicep installer does not upgrade the az bicep commands, I was leveraging `Bicep CLI version 0.6.18 (46dd19e8eb)` instead of `Bicep CLI version 0.10.61 (8f44805506)` for my test. After running `az bicep upgrade` I can confirm that this bug was fixed in the 0.10.61 release.

[2022-09-19 17:17] #8419 closed

[2022-09-19 23:54] jambar42 opened #8426 "bicep publish should have an --immutable option"
**Is your feature request related to a problem? Please describe.**

bicep publish does not lock down the published module, which enables it to be overwritten. This is dangerous in CI/CD pipelines that consume from the registry automatically. Imagine a bad actor overwriting a widely consumed module in the registry to add themselves as User Access Administrator

Currently, I am handling this in our

[2022-09-20 00:05] michael-crawford opened #8427 "Bicep does not install on latest azure-cli Docker image"
**Bicep version**
Latest (what would be returned via `curl -Lo bicep https://github.com/Azure/bicep/releases/latest/download/bicep-linux-x64`)

**Describe the bug**
I'm on a MacBook Pro. I do not want to install homebrew, due to the number of changes it makes I'd prefer to not have made. Since this is currently the only reliable way to install Azure CLI on a Mac, I am instead running Docker Deskto

[2022-09-20 00:14] michael-crawford commented on #8427
Turns out this may just be a documentation issue - I found another issue related to bicep not installing on Alpine, upon which the azure-cli is based, with a solution to use
` curl -Lo bicep https://github.com/Azure/bicep/releases/latest/download/bicep-linux-musl-x64`
instead of the standard linux installer. This seems to work.

[2022-09-20 00:14] #8427 closed

[2022-09-20 00:58] mitchdowd commented on #784
Unable to deploy container app to Australia East via Bicep. It's failing validation.  I can deploy it there via Azure CLI and Azure Portal though.

Error message:
`LocationNotAvailableForResourceType - The provided location 'AustraliaEast' is not available for resource type 'Microsoft.Web/containerApps'. List of available regions for the resource type is 'northcentralusstage,eastus,northeurope,can

[2022-09-20 01:13] Alec13355 commented on #784
@mitchdowd what api version are you using I can try to replicate it

[2022-09-20 12:29] mitchdowd commented on #784
Thanks.  For reference:
`Bicep CLI version 0.10.61 (8f44805506)`

[2022-09-20 18:21] WhitWaldo opened #8432 "'A resource of module must only reference a single scope' when using ternary operator for scope selection"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
I would like to have the same template for all subscription scopes and swap in values based on flags in the build. When specifying a scope for a resource, I'd thus like to use a ternary operator to use one subscription scope or another based on another flag.

Given the following sample:

[code]

When I do so, however, I

[2022-09-20 18:29] floriankoch opened #8433 "Error with assingning RBAC Role to AKS created nodepool identity"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
assingning a RBAC Role to a userAssignedIdentitie , created from aks, fails most times with this error, running the deployment a second time - it works
`{"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Pleas

[2022-09-20 21:11] StephenWeatherford commented on #8382
@claasd Thanks for reporting!  Will add it to our exceptions list (unfortunately there's no way to automatically determine which properties are resource IDs programmatically).

[2022-09-20 23:54] alex-frankel commented on #8412
What is preventing you from authoring something like this?:

[code]

[2022-09-20 23:55] alex-frankel commented on #8424
@StephenWeatherford is this also a dupe?

[2022-09-20 23:58] alex-frankel commented on #8432
This looks like a duplicate of #8403. Closing for now, but let me know if I am mistaken.

[2022-09-20 23:58] #8432 closed

[2022-09-21 00:03] alex-frankel commented on #8433
This is a tricky one because the azure load balancer may route you to different regions in your deployment, and it's possible that the data in all regions has not been fully replicated. Usually this gets resolved in less than a minute, but it can happen.

I know others have used this [`deployment-script/wait` module](https://github.com/Azure/bicep-registry-modules/blob/main/modules/deployment-scri

[2022-09-21 00:16] aashishtripathi opened #8438 "Decompiler fails on the 3 existing ARM Templates"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
When we are migrating the existing ARM Template to Bicep using below command it fails with below error.
You may need to fix warnings and errors in the generated bicep file(s), or decompilation may fail entirely if an accurate conversion is not possible. If you would like to report any issues or inaccurate conversions, p

[2022-09-21 00:36] alex-frankel commented on #8438
Can you share some ARM Template code that you have been using that has triggered these errors?

Can also help clarify how you are quantifying "most of the existing ARM Templates"? It looks like two cases have been outlined here:
* Invalid path characters
* key vault secret references

Assuming those cases are feasible to decompile, they seem like great enhancements we (or the community) can make t

[2022-09-21 02:59] aashishtripathi commented on #8438
Thanks Alex for a quick reply and I agree to change the subject from most to 3 (so far I tried) and I should have not generalized based on my experience! Thanks for correcting.

I can share the templates to you which have been failing on any secured channel.

Let me also refine my search for any known issue which I couldn’t find in my earlier research so posted here.

Thanks for sharing your exper

[2022-09-21 07:54] floriankoch commented on #8433
@alex-frankel thx, i will try this

to make this a bit more complicated, sometimes i got this error - so it is not only a user sync problem, it seems that the resource creation, which is conntrolled by aks , takes to long , and i cannot use dependsON with

`resource agentPoolManagedIdentity 'Microsoft.ManagedIdentity/userAssignedIdentities@2018-11-30' existing = {
  name: '${applicationName}-agent

[2022-09-21 09:00] floriankoch commented on #8433
@alex-frankel   i found aworkaround, i wrapped the resource discovery into a module - now i can use depends on - and now ith works - and it seems that the resource creation from the aks side is the problem

[code]

[2022-09-21 09:39] buzzaII commented on #5807
Can you try this for the partitionKey object:

[code]
This missing piece for me as was systemKey = true

Definitely a bug in the export as I could only find this documentation around this setting:

https://learn.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/2022-05-15/sql-resources/get-sql-container?tabs=HTTP#containerpartitionkey

[2022-09-21 11:21] martin-waugh commented on #784
Cannot create shutdown schedules for Azure ML compute instances using bicep.
Using 'Microsoft.MachineLearningServices/workspaces/computes@2022-06-01-preview' api version.

The message in VS Code editor is:
`The property "schedules" is read-only. Expressions cannot be assigned to read-only properties. If this is an inaccuracy in the documentation, please report it to the Bicep Team.bicephttps://aka

[2022-09-21 11:44] tomkerkhove opened #8441 "aka.ms/bicep/linter/use-resource-id-functions does not exist"
**Bicep version**
run `bicep --version` via the Bicep CLI, `az bicep version` via the AZ CLI or via VS code by navigating to the extensions tab and searching for Bicep

[code]

**Describe the bug**
When doing a lint through GitHub Actions as follows:

[code]

It will show warnings similar to this:

However, the mentioned `aka.ms` link does not exist and redirects to Bing.

**To Reproduce**
Steps t

[2022-09-21 11:52] dhillksmc commented on #5913
I also have a use case where the path to the ACR and the version of the Bicep module need to be defined as parameters that are leveraged by an Azure DevOps pipeline when deploying/updating infrastructure.

[2022-09-21 12:10] anthony-c-martin opened #8442 "Adopting a more robust file path -> file URL conversion"
The code shared in this StackOverflow answer has been granted an MIT license by the author: https://stackoverflow.com/a/35734486

Perhaps we should consider adopting it? Otherwise we're going to keep seeing edge cases (e.g. #8383)

[2022-09-21 12:20] anthony-c-martin commented on #7367
We have to revert #8300 unfortunately as it broke some legitimate scenarios.

[2022-09-21 12:59] jadzdtc commented on #4920
Version/module autocompletion for private registries would enable developers to easily explore available templates. Lack of this feature makes Bicep adoption way harder.

[2022-09-21 13:29] bjompen commented on #8442
I'm not 100% sure this function would work any as it only keeps "english" characters, where as paths can have most of the ASCII table characters in it.
[I replicated the solution from stack overflow  in powershell](https://gist.github.com/bjompen/57d4bf5be4e8a3ba2d867fe6facbd85d), and it seems like it may fail in some cases for what is still valid paths.
![image](https://user-images.githubusercont

[2022-09-21 15:58] lucas-lelis commented on #8412
@alex-frankel , bicep would take the parameter as an object instead of a string.
![image](https://user-images.githubusercontent.com/75315490/191553218-bc2e063b-34b2-4738-b6dd-f16dde87f598.png)

[2022-09-21 15:58] alex-frankel commented on #8441
@StephenWeatherford / @mumian -- do we have an ETA for when this doc will be published?

[2022-09-21 18:13] sunefred commented on #784
Unable to define Azure Container App while providing CPU and memory. The CPU property is of type int while we generally need to provide a fraction of a cpu such as 0.5, 0.75 and so on

[code]

[2022-09-21 18:20] alex-frankel commented on #8412
Can you share the code you have written?

[2022-09-21 19:11] mumian commented on #8441
I was not aware of this one. I can get it done EOD tomorrow.

[2022-09-21 19:30] StephenWeatherford commented on #8424
Not a dupe.  Added principalId as an exclusion for this rule.  The reason it worked only for loops is that in the simple case we can analyze the string value of the property and see that it doesn't look like a resource ID.  The loop variables put it beyond our analysis capabilities.

[2022-09-21 21:08] lucas-lelis commented on #8412
@alex-frankel sure.

[code]

[2022-09-21 23:40] michael-crawford opened #8448 "@allowed decorator for param should confirm default value after any expression is evaluated"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
Assuming a bicep template is deployed into a ResourceGroup located in eastus, the following code snippet should set the default value of locationName to 'eastus', but allow override to the allowed set of alternate regions.

[code]
Instead, we get this error, indicating the value is likely checked against the list of all

[2022-09-21 23:58] michael-crawford commented on #2405
I just opened issue #8448, and then found this issue while searching for a workaround.

The issue referenced limits use of @allowed to restrict the set of location values, when the param default is set to a resourceGroup().location. So, until this is supported, I have this:
[code]
But, I'd still like a way to limit what alternative locations are allowed, and was trying to think of a way to fail th

[2022-09-22 02:58] majastrz opened #8450 "`targetScope` does not show up in the document outline view"
**Bicep version**
Any

**Describe the bug**
`targetScope` is an element of the document that should be present in the outline.

**To Reproduce**
[code]

The above produces this document outline in VS code:
<img width="325" alt="image" src="https://user-images.githubusercontent.com/22460039/191648482-be730d00-e846-47c6-add1-2a6815362dfd.png">

**Additional context**
The bug exists because we use sy

[2022-09-22 05:49] tomkerkhove commented on #8441
Thanks a ton!

[2022-09-22 10:50] audrius-freemarket commented on #8403
I don't know if this will add any urgency to it, but this issue prevents the only workaround available for #1492.

[2022-09-22 11:47] abunnyuk opened #8453 "Nested conditional deployment - unexpected behaviour using or"
**Bicep version**

Bicep CLI version 0.6.11 (cecfb5c412)

**Describe the bug**

A requirement is to run a module, looping through a list of subnet names, that deploys global Network Security Group rules but I do not want to run for the private endpoint (`pep`) or virtual machine (`vm`) subnets, so if the following conditions are true:

-  `recreateRules_var == true` and
   - `subnet != 'pep'` or

[2022-09-22 14:27] audrius-freemarket opened #8454 "Add SQL database to SQL Failover Group on database creation"
I have a separate pipeline to create shared resources, specifically SQL Servers and their failover group. Then, each application has its own deployment pipeline which adds am app specific database. However, the database doesn't get added to the failover group.

At the same time, there seem to be no way to create FailoverGroup without explicitly specifying all databases to be in it. If I don't spec

[2022-09-22 17:08] alex-frankel commented on #8454
Can you share the code you are using to reproduce the issue? It would be helpful if you can point to specific properties that you feel are not working as expected. This sounds like an issue not specific to bicep, but rather to the design of the SQL Resource Provider APIs. Does that sound right? If so, it may be more productive to open an Azure support ticket.

[2022-09-22 18:38] wsucoug69 commented on #784
Bicep CLI version 0.10.61 (8f44805506)
`
resource apiMonitoring 'diagnostics@2021-12-01-preview' = {
  name: appInsightsName
  properties: {
    alwaysLog: 'allErrors'
    backend: {
      request: {
        body: {
          bytes: 0
        }
        dataMasking: {
    loggerId: appInsights.id
    logClientIp: true
    httpCorrelationProtocol: 'W3C'
    metrics: true
    verbosity: 'information'

[2022-09-22 18:51] #8410 closed

[2022-09-22 19:09] StephenWeatherford commented on #8441
See https://github.com/Azure/bicep/issues/7228 for initial notes on documentation

[2022-09-22 19:29] StephenWeatherford opened #8455 "Need documentation for use-recent-api-versions linter rule"
IMPORTANT: This rule is off by default, so users will have to change the level in bicepconfig.json to enable it.

Bicep ID: use-recent-api-versions
This bicep rule is a combination of two old TTK rules (i.e., both scenarios are covered by the same Bicep linter rule

See additional documentation notes in the code issues here:
https://github.com/Azure/bicep/issues/7227
[Port TTK rule P2: apiVersions

[2022-09-22 19:44] mumian commented on #8441
I am behind on this one. The new estimate is next Monday. Sorry for the inconvenience.

[2022-09-22 19:53] StephenWeatherford commented on #8224
@miqm
I couldn't repro this.  Is there something I'm doing wrong?  Thanks.

Uploading Trying to repro 8224.mov…

[2022-09-22 21:02] SimonWahlin commented on #6806
Sorry for re-animating this issue, but this was reverted in https://github.com/Azure/bicep/pull/7173

What is the status on publishing LanguageServer to nuget?

[2022-09-23 03:02] jamesyoung007 commented on #784
Bicep CLI version 0.10.61 (8f44805506)

The property "backendAddressPools" is not allowed on objects of type "LoadBalancingRulePropertiesFormat". No other properties are allowed. If this is an inaccuracy in the documentation, please report it to the Bicep Team.

In this document, it is allowed to specify backendAddressPools in the Bicep file, but when I tried to spcify it, Bicep VScode extension r

[2022-09-23 04:11] dciborow commented on #784
The following Bicep snippet generates two diferent warnings.

`Warning BCP037: The property "jitAccessPolicy" is not allowed on objects of type "ApplicationProperties". Permissible properties include "applicationDefinitionId", "uiDefinitionUri". If this is an inaccuracy in the documentation, please report it to the Bicep Team. [https://aka.ms/bicep-type-issues]`

`Warning use-resource-id-functions

[2022-09-23 06:52] wedoazure commented on #784
Just in case, this is still an issue. I presume the workaround is blank Properties{} ?

[2022-09-23 11:12] EysteinWaade opened #8458 "forwardTo and forwardDeadLetteredMessagesTo in service bus queue on second deploy"
**Bicep version**
run `bicep --version` via the Bicep CLI, `az bicep version` via the AZ CLI or via VS code by navigating to the extensions tab and searching for Bicep
v0.10.61
**Describe the bug**
A clear and concise description of what the bug is vs what you expected to happen
<Error><Code>400</Code><Detail>SubCode=40000. Absolute URI must be provided.&#xD;\\\\\\\\\\\\\\\\nParameter name: Forwar

[2022-09-23 13:28] atul-ram commented on #8283
+1 following

[2022-09-23 15:12] mumian commented on #7835
The response from the engineering team - we're in the process of transitioning to a new syntax highlighting system to align with visual studio code. We're not planning to make any updates to highlight.js right now.

See https://ceapex.visualstudio.com/Engineering/_workitems/edit/689006.

[2022-09-23 15:32] #3186 closed

[2022-09-23 15:41] alex-frankel commented on #8458
Can you share the code you are using to reproduce the issue? It seems like a Service Bus API issue, not a bicep issue. Can you try downgrading to an older version of the bicep extension and see if the error goes away?

[2022-09-23 15:57] EysteinWaade commented on #8458
I have been running this for three months and it suddenly failed today.
This is how i set up a queue:
[code]

I just realised that the version of bicep did not matter, however this works when setting up a fresh queue, but when redeploying this to an exisiting resource, I get the error shown in my last message.

[2022-09-23 17:20] alex-frankel commented on #8458
Definitely a resource provider issue. Are you able to open an Azure support ticket and have this routed to the service bus team?

[2022-09-23 18:52] shenglol commented on #8387
Hi @SetTrend, the Bicep VS Code extension is not using Bicep CLI. It uses the Bicep Language Server executable instead to support language features like Hover, Go to Definition, etc.

[2022-09-23 22:03] StephenWeatherford commented on #7746
aka link added

[2022-09-23 22:52] alex-frankel commented on #8412
Can you also share how you are deploying this code and providing parameters? When I try this code in VS code, I don't see any errors.

[2022-09-23 23:20] shenglol commented on #6653
We had a discussion on this and came to the conclusion that it's worth adding a new property `imports` (instead of `providers`) to both `Microsoft.Resources/deployments` and ARM template for specifying deployment-time configuration for providers.

## What this looks like with Kubernetes

### k8sDeploy.bicep
[code]

### main.bicep
[code]
### Compiled ARM template:
[code]

## What this could look li

[2022-09-23 23:31] shenglol commented on #6653
Topics to be discussed:

## Default import
- Should `az` be imported by default?
- If so, what version should be imported?
- Should it be imported by the Bicep compiler?
- Should it be part of a Bicep configuration file?

## Deployment experience
- How should import configuration be specified when running deployment commands? By adding a new `imports` parameter?
- Currently, deployment commands at

[2022-09-24 00:10] shenglol commented on #6641
We are finally closed on the provider version syntax:

[code]

We also revisited the syntax for setting target scope, and made some updates since last time (https://github.com/Azure/bicep/issues/6641#issuecomment-1133270804). The new syntax looks like this:

[code]

The main difference is that a `with` keyword is added a separator between the provider and the configuration object. In the future, t

[2022-09-24 19:47] lucas-lelis commented on #8412
@alex-frankel it was mentioned in the issue:

[code]

There are no issues with the bicep file, the problem here is the conversion from bicep to ARM template which results in a failed deployment due to the missing "value" property in the parameters.

[2022-09-25 13:02] SetTrend commented on #8387
Thanks a bunch for enlightening me, @shenglol!

So, since you're already working on merging all the other tool approaches into using a single Bicep CLI installation, would you want me to close this issue or do you want me to keep it open for later reference? I'll leave it up to you.

[2022-09-25 20:11] bjompen commented on #8409
+1 for adding regex, as it would make parameter/validation so much better.
As for language though, wouldn't it make more sense to have .net regex instead of PCRE2? The rest of bicep is .net, and i believe it is also is the flavour used in f.eg PowerShell, so it would be consistent in usage.

[2022-09-26 06:35] EysteinWaade commented on #8458
@alex-frankel I have opened an Azure support ticket. I'll update this issue when I have more insight. Seems like some other people have similar issues.

[2022-09-26 06:57] Aussiemon commented on #8458
Getting the same issue in all environments with a non-bicep ARM template since the 21st. We also have a support request open.

[2022-09-26 07:22] slavizh commented on #6641
I still would like to see importing version by specific provider. For example I would only want to specify the version for Virtual Machines provider rather for the whole Az.

Array of scopes is good.

[2022-09-26 07:29] slavizh commented on #6653
Should az be imported by default? - No, but it should be required to define it. That way it becomes part of standard writing of templates and anyone can choose the version they are comfortable, no matter the version of bicep.exe
    If so, what version should be imported? - N/A
    Should it be imported by the Bicep compiler? - No
    Should it be part of a Bicep configuration file? - No

How shou

[2022-09-26 07:43] flytzen opened #8494 "Standard CDN properties.azureOrigin fails"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
Using `properties.AzureOrigin` when creating a Standard FrontDoor as [documented](https://learn.microsoft.com/en-us/azure/templates/microsoft.cdn/2020-09-01/profiles/origingroups/origins?pivots=deployment-language-bicep) causes this error:

`Could not find member 'azureOrigin' on object of type 'AfdOrigin'. Path 'proper

[2022-09-26 09:39] tiagoacosta17 commented on #784
Warning in Microsoft.Logic/integrationAccounts@2016-06-01 regarding Integration Accounts Sku's is not up to date :)

[2022-09-26 09:42] KuSh commented on #784
Bicep CLI version 0.10.61 (8f44805506)

But deploying on a previously deployed db account keeps telling me it will delete this (automatically added by azure) property. This generates noise in what-if result.

[2022-09-26 12:20] hasan2602 opened #8495 "ZipDeploy for web site where OS is Linux"
**Bicep version**
run `bicep --version` via the Bicep CLI, `az bicep version` via the AZ CLI or via VS code by navigating to the extensions tab and searching for Bicep

- Bicep CLI version 0.10.61

**Describe the bug**
A clear and concise description of what the bug is vs what you expected to happen

- we are creating an ASP with OS linux, 2 ASE and using MSDeploy and OneDeploy to use zip files th

[2022-09-26 13:04] damodaravadhani commented on #8458
Hello @EysteinWaade , Thanks for reporting this issue to us. The ServiceBus team currently working on rolling out a fix for this issue and we plan to deploy a fix for this by end of Monday(26th September) PST. We apologize for the inconvenience this caused you.

[2022-09-26 14:24] ezYakaEagle442 commented on #3816
I have a similar requirement:

I try to configure an Azure Container App [setting a pram to set the Resources CPU&RAM](https://learn.microsoft.com/en-us/azure/container-apps/containers#configuration).
I hit The value must be a compile-time constant.bicep(BCP032):

How to implement this please ?

[code]

[2022-09-26 15:44] alex-frankel commented on #8412
Any errors triggered by `bicep build` will also show up in VS code. When I run `bicep build` I do not get any errors. I also attempted to deploy this code, which for me failed at deployment time with a different error, whereas for you it is failing at compile time which is odd. I was expecting a failure since I don't have the managed app definition in my tenant.

Can you triple-check that the vers

[2022-09-26 16:01] miqm commented on #3816
Your problem is related to lack of floating point number support in bicep: #1386

[2022-09-26 16:39] ezYakaEagle442 commented on #1386
@brwilkinson
I have a similar requirement:

I try to configure an Azure Container App [setting a pram to set the Resources CPU&RAM](https://learn.microsoft.com/en-us/azure/container-apps/containers#configuration).
I hit The value must be a compile-time constant.bicep(BCP032):

How to implement this please ?

@allowed([
  json('0.25')
  json('0.5')
  json('0.75')
  json('1.0')
  json('1.25')
  json

[2022-09-26 16:42] EysteinWaade commented on #8458
Thanks for the help. I looks like the problem has been resolved by the Azure Service Bus team.

[2022-09-26 16:45] mleneveut commented on #1410
any updates on this ?

[code]

 'The resource 'Microsoft.KeyVault/vaults/energy-billing-dev-kv' at line '1' and column '36421' is defined multiple times in a template

[2022-09-26 16:51] ezYakaEagle442 commented on #1386
work around with :
[code]

[2022-09-26 16:52] ezYakaEagle442 commented on #3816
Indeed, it is now fixed with :

[code]

[2022-09-26 16:52] brwilkinson commented on #1386
@ezYakaEagle442

was about to suggest

[code]

[2022-09-26 17:07] aristosvo commented on #8458
@EysteinWaade Which region are your deployments? I can still reproduce the issue over API.

[2022-09-26 17:25] damodaravadhani commented on #8458
It might be a while before our fix rolls out to all regions.

[2022-09-26 17:25] asdkant-bf opened #8496 "variable casted as array instead of bool"
## **Bicep version**

Bicep CLI version 0.10.61 (8f44805506)

## **Describe the bug**

I'm setting a variable with this line (I included the three params I'm referencing)
[code]
but that's compiled to ARM like this:
[code]

This variable should cast to a bool, but it's being compiled to an array.

## **Additional context**

This is in the context of a module for storage account, I want to have a b

[2022-09-26 17:31] EysteinWaade commented on #8458
North Europe

[2022-09-26 17:40] dozer75 commented on #8433
@floriankoch

Not sure why you want to retrieve the managed identity that way (since you haven't provided the code inside your modules), but from what I can read from your code is that you want to assign the kubelet (agentpool) identity to be able to pull images from your container registry?

If so, the `Microsoft.ContainerService/managedClusters` resource type does return the object id of the age

[2022-09-26 18:02] ugreg commented on #1285
Tried this on Ubuntu @anthony-c-martin and got this error

[code]

[2022-09-26 18:40] dozer75 opened #8497 "Change userAssignedIdentities from object to array"
**Is your feature request related to a problem? Please describe.**

I have an AKS cluster that I want to have a user assigned identity. This user assigned identity is created using a helper module for creating managed identities. The problem is, that assigning the output id from this module to the `userAssignedIdentities` in `identity` causes bicep to issue the BCP120 error since it is an object w

[2022-09-26 19:02] alex-frankel commented on #7259
I would follow #6450 for any updates. We have been working on adding support for it recently, so I'm hoping we have an update in the next 2-3 months.

[2022-09-26 19:25] shenglol commented on #6653
@slavizh , sorry, I made a mistake on the last discussion item. By specifying "`imports` via Bicep parameters file" I meant specifying import configuration values (I've revised that). The idea is that import configurations are very similar to parameters, and users may need to provide certain configuration values at deploy time, so we will need a way to set the values in a parameters file.

[2022-09-26 19:47] stan-sz commented on #1431
While not a single-file solution, #4158 would also help make the resource group creation easier.

[2022-09-26 19:58] #8012 closed

[2022-09-26 20:00] stephaniezyen opened #8498 "Bicep Community Call - September '22"
**We are hosting our monthly Bicep community call this Thursday, September 29th at 2PM PST!**

Use this issue to address topics you would like to discuss, questions you have for our team, further demos you would like to see, and any high or low points you would like to share. This is an open space for our users to discuss any topics they would like to talk about with our team.

We have some great

[2022-09-26 20:43] hxd1478 opened #8499 "Is it possible to consume bicep files in C# projects?"
Looking to do some buildout automation where we can parse/consume bicep files so that we can get the values off of a bicep object. Then, do some additional operations on them before deploying them. Is this possible? Somehow to consume the bicep objects in either dotnet or C# projects or in F#?

[2022-09-26 21:55] jeskew commented on #6653
I agree with @slavizh on not importing az by default on principle, but that would mean every existing Bicep template would need to be rewritten. Perhaps only imposing this requirement on users who have adopted imports would be a good compromise. If no `import` statements appear in a template, the compiler could assume it is dealing with a "legacy" template and automatically import az; if *any* `im

[2022-09-26 22:46] #8382 closed

[2022-09-26 23:22] mattmazzola commented on #784
When specifying the resources allocated to run a container the types in Bicep and documentation make it seem like it would accept any decimal [0.25,2] rounded to 0.5  or arbitrary memory with similar limit.

https://learn.microsoft.com/en-us/azure/templates/microsoft.app/containerapps?pivots=deployment-language-bicep#containerresources

The bicep file allows invalid configurations such as
[code]

[2022-09-26 23:56] #8424 closed

[2022-09-27 00:17] dciborow commented on #6500
i am also hitting this issue when building on Ubuntu but not on Windows.

[2022-09-27 05:27] chuckz1321 commented on #8282
@ucheNkadiCode Could you please take a look at this issue?

[2022-09-27 05:29] chuckz1321 commented on #8282
@alex-frankel  Could you please help to assign this issue to another owner? I could not find Uche in MS corp anymore.

[2022-09-27 06:08] bjompen commented on #8499
You could look at how the Bicep PowerShell module does it by rebuilding parts of the bicep project and including it. Might even be able to use the BicepNet module as it already does some magic with outputting objects I believe.

 https://github.com/PSBicep

[2022-09-27 06:11] slavizh commented on #6653
@jeskew some templates will have to be re-written anyway due to change how scope is defined.

[2022-09-27 06:26] slavizh commented on #8498
status on: #4343 #4453 #4270

[2022-09-27 06:50] damodaravadhani commented on #8458
The fix has been rolled out to all regions. Thank you for your patience.

[2022-09-27 09:48] santo2 commented on #8498
+1 for #4453

[2022-09-27 12:04] slapointe commented on #7813
@m-soltani I love the fact that bulk publish would be supported. I just want to understand how this would work.

* How would we handle multiple files in the directory? What would the final reference pattern be ?
* What about the tags/versioning, all would have the same tags ?

Let's take a concrete example, and I would like to know how you envision the behavior here.

`az bicep publish --directory

[2022-09-27 13:30] jeskew commented on #6653
We could choose to do that, but I would advocate for allowing use of the `targetScope` keyword in files that do not use the `import` keyword. We can add a deprecation notice and discuss eventually phasing out the default `az` import and support for the `targetScope` keyword (e.g., in the 1.0 release), but I don't think it would be very user friendly abruptly shifting to requiring an `import 'az@v1

[2022-09-27 15:26] KacperMucha commented on #8498
status on: #2690

[2022-09-27 17:40] alex-frankel commented on #6540
We expect to ship a new API version of deployment scripts that will enable this in less than two months. We are in the late stages of implementation.

[2022-09-27 18:09] WhitWaldo commented on #8498
Status on rolling back https://github.com/Azure/bicep/issues/8403

[2022-09-27 19:32] StefanIvemo commented on #8497
Your best option here would be to declare the managed identity resource directly inside your `aks.bicep` template instead of using a module. By doing that the value can be calculated at the start of the deployment and your deployment will succeed. You will also end up with less code since `Microsoft.ManagedIdentity/userAssignedIdentities` only requires two properties.

[code]

[2022-09-27 19:49] StefanIvemo commented on #8496
I tried your code and its being cast to a bool as expected.

<img width="508" alt="image" src="https://user-images.githubusercontent.com/17688234/192620671-e39eeca4-c501-44ca-ac6c-1993625a2512.png">

The compiled ARM looks like it should. The `[]` you see in the ARM Templates are there when a function is being used, it's not an array.

[2022-09-27 20:01] tommyleedberg commented on #836
This issue still exists in bicep v0.10.61. If you are adding access policies and referencing the KeyVault as a "parent" you get the same error.

![image](https://user-images.githubusercontent.com/6200692/192624029-3f7efa35-cefc-4ac3-8421-4c4c1edac1f2.png)

[2022-09-27 20:21] artisticcheese opened #8501 "`Existing` keyword transplanes to ARM `reference` function call without `Full` parameter"
**Bicep version**
0.10.13
**Describe the bug**
Keyword `existing` transplanes into ARM reference function with no `Full` parameter

**To Reproduce**
Have existing user assigned managed identity and reference it in template like below
[code]
Attempting to use it's properties in app service settings like below would produce ARM template with reference like below (missing `Full` parameter of ARM temp

[2022-09-27 20:52] artisticcheese commented on #8501
Please close the issue, something on my end

[2022-09-27 20:52] #8501 closed

[2022-09-27 21:42] WhitWaldo commented on #4710
Wanted to jump in with another example relevant to today's task. I'm working on simplifying my various modules so I can both publish them for public consumption and simplify everything.

As is not uncommon when working with Azure resources, child resources tend to require more than one value to be set and they each require these values be set alongside each other. Bicep has neither an optional nor

[2022-09-27 22:23] WhitWaldo commented on #4158
My [issue on this was linked here and closed](https://github.com/Azure/bicep/issues/4710), but I'd like to resurface my own take on how this should be approached. I would like to see strong-typing introduced more like how interfaces are used in TypeScript - namely, they describe the shape of an object and members can have attributes attached, but they otherwise have no impact on runtime; they are

[2022-09-27 22:33] alex-frankel commented on #4710
cc @jeskew as FYI

I'm not reopening only because I don't want multiple issues speaking to the same problem, not because this issue is not valuable. We will take a look at these examples and try to factor that into our design (which there will be ample opportunity for feedback on).

We are taking a close look at how to define custom types and perform operations on those types as you'd expect in ot

[2022-09-27 22:51] WhitWaldo commented on #4710
@alex-frankel It's fine not re-opening it, so long as it's visible as a possible solution to the problem. Encountered this again today in the example above so it's just top of mind for me. Reviewing the feedback in #4158 , I still find that proposal far too strictly bound to specific resources and not nearly flexible enough for larger, more modular deployments that span dozens of potentially inter

[2022-09-28 00:02] AaronSaikovski commented on #8498
Will the new VS extension have support for the MacOS version of Visual Studio in the future?

[2022-09-28 05:46] rouke-broersma commented on #4158
I'm @WhitWaldo, I want to be able to specify my own structure for the objects I pass as params, independent of an actual resource type, while enforcing the types at least compile time.

I also want to pass whole resources by ref, but that's not related to its typings but rather for this like rbac Authorization and such.

[2022-09-28 06:31] HansWeihe commented on #8498
Please prioritize: https://github.com/Azure/bicep/issues/3689 - rate limiting is very annoying.

[2022-09-28 08:55] Vox1984 opened #8502 "unable to deploy libraryRequirements in Azure Synapse sparkpool via bicep"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
Error:
SparkComputePropertiesNotAllowed
Synapse Spark pool must be created before libraries are installed

**To Reproduce**
Try to create sparkpool resource with libraryRequirements section filled in.

**Additional context**
Either put the libraryRequirements as separate resource to sparkpool (if it requires time), or b

[2022-09-28 13:46] asdkant-bf commented on #8496
I see, thanks for the clarification

[2022-09-28 13:46] #8496 closed

[2022-09-28 18:22] akata72 commented on #8498
An update/comment on #4920 . Important for private bicep registry adoption.

[2022-09-28 18:58] mumian commented on #8441
The article has been published.

[2022-09-28 18:58] #8441 closed

[2022-09-28 19:14] stephaniezyen commented on #8502
Can you provide the full bicep file or resource (feel free to redact sensitive parts) for a repro?

[2022-09-28 19:18] majastrz commented on #8499
We do have a NuGet package that is used by the CLI and language server to parse Bicep files: https://www.nuget.org/packages/Azure.Bicep.Core. It's not very well documented, but there are many examples of tests in this repo invoking code in that assembly.

[2022-09-28 19:24] stephaniezyen commented on #8495
Can you provide more information on what error you are getting or issue you are running into?

[2022-09-28 19:35] majastrz commented on #8448
You can work around this using the `any()` function like this:

[code]

[2022-09-28 19:59] jeskew commented on #8453
Hi @abunnyuk,

The behavior you're seeing is working as intended. The compound clause `(option != 'unlikely' || option != 'no')` will always return `true`, as the string `'unlikely'` will pass the `option != 'no'` check and the string `'no'` will pass the `option != 'unlikely'` check. `option != 'unlikely' && option != 'no'` can also be expressed as `!(option == 'unlikely' || option == 'no')`, whi

[2022-09-28 19:59] #8453 closed

[2022-09-28 20:02] StephenWeatherford opened #8506 "Should we support "Insert Resource Group" command to import entire resource group?"
E.g. from command line:
[code]

[2022-09-28 20:02] mumian commented on #7676
The article has been updated.

[2022-09-28 20:03] StephenWeatherford commented on #8506
Also see https://github.com/Azure/bicep/issues/6971

[2022-09-28 20:11] tomkerkhove commented on #8441
Thank you!

[2022-09-28 23:56] shenglol commented on #6641
One thing I'm not sure about this approach is that API versions are bound to resource types, not Azure resource providers. For example, virtual machine has an API version 2021-01-01, but virtual machine extension may not.

[2022-09-29 01:41] alex-frankel commented on #7298
Closing since this got implemented

[2022-09-29 01:41] #7298 closed

[2022-09-29 06:46] slavizh commented on #6641
@shenglol that is true but also az@v1 is not API version like 2021-01-01. So let's say if you define az.compute/virtualMachines@v1, v1 will contain different API versions for each resource under microsoft.compute/virtualMachines.

[2022-09-29 10:39] johanredeploy opened #8510 ""Unable to evaluate template language function 'extensionResourceId'" when referencing role definition property"
**Bicep version**
 * Bicep CLI version 0.10.61 (8f44805506)
 * vscode Bicep extension version v0.10.61
 * az cli versions

[code]

**Describe the bug**
Referencing properties from an existing role definition and passing that property to a module fails.

For this use case, I want to iterate assignable scopes for a role to allow reading individual secrets in a key vault. The intention is to create r

[2022-09-29 11:06] tobylo opened #8511 "Unable to read properties from referenced, existing API Management Service API"
**Bicep version**
0.4.1008 (223b8d227a)

**Describe the bug**
Unable to read properties of a referenced, existing API Management Service API, getting validation error that:

Properties here is of type ApiCreateOrUpdateProperties.

**To Reproduce**
Bicep that shows the error:

[code]

[2022-09-29 13:50] aavdberg commented on #3689
Having this problem also.

ERROR: Error while attempting to retrieve the latest Bicep version: 403 Client Error: rate limit exceeded for url

[2022-09-29 15:49] dozer75 commented on #8497
@StefanIvemo Yes, I know that's possible, but that's not the point here and not desired way to do it. This was a simple example how to reproduce it, my real Bicep structure is way more complex than this and having the external module to create managed identities aids me in other circumstances creating managed identities in a generic way all over my Bicep IaC structure.

[2022-09-29 15:52] Vox1984 commented on #8502
Sure thing:

`resource sparkpool 'Microsoft.Synapse/workspaces/bigDataPools@2021-06-01' =  {
    name: PoolName
    location: location
    parent: synapse
    properties:{
      autoPause:{
        enabled: true
        delayInMinutes: 15
      }
      nodeSize: nodeSize
      nodeSizeFamily: 'MemoryOptimized'
      autoScale:{
        enabled: true
        minNodeCount: MinNodeCount
        maxNo

[2022-09-29 16:22] SetTrend commented on #7676
Excellent, @mumian!

Do you want me to close this issue here then? Or would you want to keep it open for later reference? I'll leave it up to you and your team workflow decisions.

[2022-09-29 17:12] #7676 closed

[2022-09-29 17:46] StephenWeatherford commented on #1591
Okay, so we're now removing trailing "Name" from resource symbolic names.  In the https://github.com/Azure/azure-quickstart-templates repo, this removed 80% of "_var" variables and 90% of "_resource" resources.

That might be enough, please let me know after this is released if there are other common scenarios we should improve.  Thanks!  (Same goes for decompilation, period, please let us know wh

[2022-09-29 19:00] shenglol commented on #6641
Got it, this makes more sense to me now. I thought the proposal was to use an API version as the import version, like `az.compute/virtualMachines@2021-01-01`. I think sub namespace import can be a useful feature, but I'd prefer putting the namespace after the version:

[code]

However, we'll need to understand the implication on `scopeType`, since `scopeType` is now limited by the namespace.

Sett

[2022-09-29 19:04] afscrome commented on #3355
A few other scenarios where anonymous modules could help

## Accidental Secret revealing

If you think of bicep modules as code reuse, and being like includes / function calls, then it can be surprising behaviour that secrets passed as params to a sub module could be leaked.  Whilst a number of linter rules have been written to detect these cases, they are still ultimately best guesses and will mi

[2022-09-29 19:55] afscrome opened #8513 "Running `brm` without arguments results in an exception"
**Bicep version**
'azure.bicep.registrymoduletool' (version '0.10.61')

**Describe the bug**
Running `brm` without arguments results in an error.  I'd expect this to do somethign like showing help.

**To Reproduce**

In a new directory, run the following commands:
[code]

**Additional context**

[code]

[2022-09-29 20:47] StephenWeatherford opened #8514 "Turn off SupportsContentModified in Omnisharp server"
This causes "content modified" errors in odd places, and is blocking us from doing user interaction from within the language server.  Not 100% positive about the possible side effects, though, so need to be careful.

https://github.com/dotnet/razor-tooling/blob/e159490902289bc6890ad9fefa1e1dbce4322bac/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs#L87-L97

[2022-09-29 20:48] StephenWeatherford commented on #5733
Blocked by https://github.com/Azure/bicep/issues/8514

[2022-09-29 21:19] alex-frankel commented on #8498
I won't be able to answer these in the call, so answering as many as I can now before I have to go:

* #4343 -- I moved this to the 1.0 milestone. Not sure when we will get to it, but it's a good fit & finish item
* #4453 -- This has proved to be more complex than initially anticipated. @majastrz should be able to share more details in the call
* #4270 -- No update. Need more upvotes.
* #2690 -- P

[2022-09-29 22:02] StephenWeatherford commented on #6963
Blocked by https://github.com/Azure/bicep/issues/8514

[2022-09-29 22:28] ChristopherGLewis commented on #6641
Some things I'm pleased with and some concerned with.

The @<APIVersion>, in general, is the most confusing aspect of Bicep to new developers and abstracting that away would be great.  However, as @pacodelacruz and others have pointed out, you've now created an artificial tie of the 100's of APIs to a single bicep AZ version - with no *easy* way to understand that mapping.

I'm going to have to so

[2022-09-30 01:03] rynowak commented on #7933
Yes please. `oneOf` unions are very useful from an API design POV. These are really common in Kubernetes types, so have the capability to validate these in Bicep would be mega-valuable.

[2022-09-30 06:18] slavizh commented on #6641
@shenglol yeah my proposal was very fast example that was just to show what I mean rather propose actual syntax. I have suggested granularity per resource provider for versioning since it the versioning was introduced to us but may be somehow got slip upon implementation. I think many have agreed that this is needed. As you show than scope becomes a problem. I do not think that defining scope per

[2022-09-30 06:23] slavizh commented on #8498
ok.  I will put my efforts for more votes on #4270

[2022-09-30 06:48] x2xamin opened #8515 "What-If does not support Complete mode"
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
az deployment group what-if --mode Complete does not show resources to DELETE, only show them as IGNORED. However, with -c or confirm with what if show resources which are not in template file as DELETE

**To Reproduce**
Just run az deployment group what-if -g myResourceGroup --mode Complete, it will not show DELETE, but if you run az de

[2022-09-30 07:00] simonhalby commented on #4270
+1

[2022-09-30 07:01] Vladeexx commented on #4270
+1

[2022-09-30 07:02] hasan2602 commented on #8495
Hi Stephan,

when i use MSDeploy or OneDeploy for Linux i get this no route registered for /MSDeploy

[2022-09-30 07:05] PostSven commented on #4270
+1

[2022-09-30 08:58] rwaal commented on #7580
I would also like to see a bicep cli format command.
Although I realise there's formatting support in VS Code, having a cli command can help enforce consistency of style.

[2022-09-30 11:12] audrius-freemarket commented on #8454
I don't think my implementation of any value. The approach I took was something like this:

Core infrastructure is deployed separately from application deployments:
[code]

[code]

[code]

Then, each application would have it's own deployment script to create a database. This deployment has to add database to the failover group via powershell as we are not re-running core infrastructure deployment

[2022-09-30 11:19] bdzeeuw commented on #4270
+1

[2022-09-30 13:05] afscrome opened #8516 "Vs Code Format Document keeps on indenting further"
**Bicep version**
VSCode 0.10.61

**Describe the bug**
A slightly odd situation I encountered when I forgot a quote - each time I ran format document, the template got indented level.  I'd expect

**To Reproduce**

Paste the below code into VS Code

[code]

Run "Format Document" several times.  Eventually you'll end up with

[code]
Except for the first use, I'd expect subsequent runs of "Format Do

[2022-09-30 13:06] codepic opened #8517 "Unnecessary bicep(BCP179) warning with Microsoft.Resources/tags@2021-01-01"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**

In the scenario in repro, bicep gives off the below warning:

[code]

**To Reproduce**
[code]

**Additional context**

Unfortunately what bicep is asking me to do, is impossible. As `Microsoft.Resources/tags@2021-01-01` **requires** me to put `default` as the name, or else it will error out.

[2022-09-30 13:54] SimonWahlin commented on #7580
We would be happy to implement that in our PowerShell module (https://github.com/PSBicep/PSBicep)

[2022-09-30 14:09] SimonWahlin commented on #7580
Or maybe you meant implement it in bicep? I would absolutely be interested in opening a PR for that.

[2022-09-30 14:25] anthony-c-martin commented on #7580
Yeah that's what I was thinking!

For pointers:
* Obtaining the `ProgramSyntax` for a file: https://github.com/Azure/bicep/blob/ae66808697d2f668ab917b0e602c0c330dee5563/src/Bicep.Core.UnitTests/Utils/ParserHelper.cs#L14-L19
* This is pretty much all the logic you need once you've obtained the `ProgramSyntax`: https://github.com/Azure/bicep/blob/cf2a3ad72dfb433f49aa776d057354e7de318ecb/src/Bicep.La

[2022-09-30 18:21] anthony-c-martin commented on #3689
We're still working on this one as a high priority, and expect to have it rolled out by end of October.

[2022-09-30 18:29] kplantus opened #8519 "unexpected warning on Microsoft.Web/sites/config for bicep(BCP179) for loop on SQL Connection Strings"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
looping on a SQL Connection String Config produces the following error:
`Unique resource or deployment name is required when looping. The loop item variable "databaseName" must be referenced in at least one of the value expressions of the following properties: "name", "parent" bicep(BCP179)`

[code]
The `name` is requir

[2022-09-30 20:30] brsteph opened #8520 "Peerings not deleted in complete mode."
**Bicep version**
Bicep CLI version 0.10.61

**Describe the bug**
When I removed peerings from my Bicep template, and re-ran with complete mode, I expected the peers to be deleted but the virtual networks stay the same.  However, the peers were not removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two virtual networks peered together via a Bicep template.
2. Remove the peerings

[2022-09-30 20:36] rellis-of-rhindleton commented on #3039
Hey folks - this is something I would love to have available, in whatever form it takes. Just wondering if anybody knows there has been progress that might not be reflected here.

Example scenario: Say we have a centrally managed set of network configs -- IP ranges, subnet IDs, etc. -- that occasionally change, and are out of the hands of people using Bicep. If we have shared Bicep modules then th

[2022-09-30 22:12] WhitWaldo commented on #4270
A proposed workaround here that I use in the meantime. The URI to the secret isn't something I'm averse to including in logs, so when I create resources, if a Key Vault name is provided, they store their various secrets in the Key Vault and pass the versioned URI to the secret back via the output.

Because the identity executing the deployment also has read access to the Key Vault secrets, I've go

[2022-10-01 00:54] StephenWeatherford opened #8522 "Refactor: Extract Module"
Extract one or more resource(s) into a separate module

[2022-10-01 00:54] StephenWeatherford commented on #6602
@dciborow See https://github.com/Azure/bicep/issues/8522

[2022-10-01 00:59] StephenWeatherford commented on #6158
See also https://github.com/Azure/bicep/pull/8521

[2022-10-01 01:13] StephenWeatherford commented on #7364
@anthony-c-martin Appears to be no way to programmatically resize, but as noted, users can resize it using the mouse now (see https://stackoverflow.com/questions/64491930/is-there-a-way-to-resize-the-autocomplete-widget-in-visual-studio-code/64492059#64492059).

I think Alex's suggestion of hiding the sections already completed may be possible to implement.

[2022-10-01 02:33] mumian commented on #8455
从哦买培拉特的

[2022-10-01 02:33] #8455 closed

[2022-10-01 08:10] Liversage commented on #784
Bicep CLI version 0.10.61 (8f44805506)

When deploying `microsoft.insights/components/pricingPlans@2017-10-01` the daily cap can be set using `properties.cap`. It's possible to specify a non-integer cap like 0.1. However, doing that results in the following warning:

When deploying `Microsoft.OperationalInsights/workspaces@2021-12-01-preview` the daily cap can be set using `properties.workspaceCap

[2022-10-01 17:27] ThojoUno commented on #784
For those having issues with <resource> does not have types available error, try updating to a more current resource version, ie. @2022-01-01 . I've seen this error many times if you use an old example, and the version is out of date

[2022-10-01 19:12] Liversage commented on #784
@ThojoUno Thanks for the suggestion. In my specific case I made sure that I used the latest version described at https://learn.microsoft.com/en-us/azure/templates/.

[2022-10-01 21:20] artisticcheese commented on #46
This extension messing up folding of bicep resources

![Code_SIIcYWWnEm](https://user-images.githubusercontent.com/13176884/193428731-861d485b-f11b-4c36-84c6-bd0f7643df6f.gif)

![image](https://user-images.githubusercontent.com/13176884/193428690-39f1be2d-5120-4638-b3a2-3e818b881390.png)

[2022-10-02 17:45] #8046 closed

[2022-10-03 03:11] chuckz1321 commented on #8282
@bhsubra @puicchan Hi team, any update?

[2022-10-03 04:41] wahyuen commented on #8189
@alex-frankel I 'think' I've just hit this same issue today (this was working without changes the last day or 2) whereby app service deployments are now failing with `Object reference not set to an instance of an object`

I've tried @Ppkd2021 workaround by removing the `ipSecurityRestrictions` node but this just moved the error into another deployment (presumably due to another property that we ar

[2022-10-03 06:43] slavizh commented on #4270
@WhitWaldo not working workaround for us as this option works for simple templates. Ours are more advanced. We have other workarounds as well but they are workarounds for something that was and it is is available in ARM and it should be available in Bicep. After all Bicep is suppose to have 100% parity with ARM + even more.

[2022-10-03 06:57] WhitWaldo commented on #4270
@slavizh Fair enough, but there are a lot of features Bicep has yet to achieve parity with straight ARM on. Like me, if you still prefer to use Bicep, you might consider restructuring your templates to take an approach than _is_ supported today while waiting for the team to get to your ask, as you might otherwise be waiting a while.

I can't tell you how many Powershell deployments I have in my ow

[2022-10-03 07:03] slavizh commented on #4270
@WhitWaldo thanks for the advise but that is not applicable.

[2022-10-03 09:06] ttq-ak commented on #8189
This has just appeared this morning for us too, attempting to deploy any AppService (Function, web, api) is causing the `Object reference not set to an instance of an object.` message.

As @wahyuen mentioned, occasionally some of the deploys are succeeding, and I can't see any commonality between which apps are succeeding and failing.

We're using `AzureResourceManagerTemplateDeployment@3` via azu

[2022-10-03 09:56] OwenR98 commented on #8189
Also currently butting up against this issue, seems to be no commonality between which passes and fails

[2022-10-03 10:56] paul-roberts-dt commented on #8189
We are also hitting this, which started yesterday. With no changes to our code or environment, this issue is happening every release of our Bicep template or its equivalent ARM.

[2022-10-03 14:18] puicchan commented on #8282
@chuckz1321 - I just took over from Uche. Let me sync with team and get back to you.

[2022-10-03 18:42] ZWMiller commented on #3816
I believe this is a similar problem and wanted to see if there is a resolution yet. I'm working on generalizing deployment of VMs with BICEP templating. One of the things I want to do is manage which machine sizes the deployment has access to, but also control for different deployment configuration for GPU machines vs CPU machines. Thus, I'd like to do:

`var allowed_cpu = array([
  'standard_b1ms

[2022-10-03 20:11] edburns opened #8561 "TemplateWriter.cs produces apiVersion which violates arm-ttk assertion "Api versions must be the latest or under 2 years old (730 days)""
**Bicep version**
0.10.61

**Describe the bug**
The arm-ttk has the following assertion:

Api versions must be the latest or under 2 years old (730 days)

Any time any Bicep file uses a module, the apiVersion in TemplateWriter.cs https://github.com/Azure/bicep/blob/7e38f9001c095dbbf6310f3b0b9b05d3d210faed/src/Bicep.Core/Emit/TemplateWriter.cs#L36 is baked into the ARM template. On Saturday, this v

[2022-10-04 00:36] #7820 closed

[2022-10-04 04:32] alex-frankel commented on #8561
I would consider this a false positive TTK error since those are not API versions that you are responsible for. Thoughts @bmoore-msft?

Separately we have #7932 to get the better error messages. We have to be careful when changing this API version since it has a large potential for impact. I'd prefer if we wait until the later version is fully rolled out and would like to do Az CLI and Az PS at th

[2022-10-04 08:09] WhitWaldo commented on #8497
In my deployment, I have a generic module for creating my identities but I stick to a rule of deploying only one resource and its children per module. As such, I'd recommend that in whatever you're referencing the AKS module from, deploy your UAI there and pass its name into the AKS module, then do a resource existing to reference in the identity field.

[2022-10-04 08:16] WhitWaldo commented on #8497
I once raised the question about why identities was an object and not an array at one point and it was dismissed as being by design since an array can't be easily updated via PATCH as a dictionary can. While I can't find the thread or the link I was provided, you can see on [this blog entry](https://azure.microsoft.com/en-us/blog/azure-ad-managed-service-identity-updates/) (towards the top) that i

[2022-10-04 11:41] jordylangermans opened #8573 "Creating markdown table for workbook - Bicep escaping"
### Discussed in https://github.com/Azure/bicep/discussions/8572

<div type='discussions-op-text'>

<sup>Originally posted by **jordylangermans** October  4, 2022</sup>
Hello,

I'm trying to create a dynamic markdown table for an Azure workbook. Because of some loop limitiations and the way that the data is stored, I make use of powershell to create a string and pass the string as parameter to the

[2022-10-04 12:17] jordylangermans commented on #8573
I think it has something to do with the json escape

https://www.freeformatter.com/json-escape.html#before-output

How is it possible to add an enter when json is escaping the /n?

[2022-10-04 13:36] miqm opened #8574 "LoadJsonContent should produce a compile-time constant value"
Background:

var yes, but not `concat` - as this is a runtime function.

However you should be able to use `loadJsonContent` inside `@allowed` and keep VM list in separate json and use query parameter to get what you need - but I see it does not work :/ I'll put an issue and try to fix it.

_Originally posted by @miqm in https://github.com/Azure/bicep/issues/3816#issuecomment-1266983682_

[2022-10-04 13:54] henningorlowski commented on #784
While deploying a storage account this warning appears: "Warning BCP037: The property "allowPermanentDelete" is not allowed on objects of type "DeleteRetentionPolicy". No other properties are allowed.".

It is allowed since it's set to these Values by default after the deployment. After a new deployment, Bicep shows that it wants to add that flag to the storage account again.

[2022-10-04 13:55] #8385 closed

[2022-10-04 14:49] smthbh commented on #8189
We're hitting this issue intermittently today too. Oddly, we hit it even without changing anything in our deployment.
We can deploy once and it will deploy fine, then redeploy again and get this error, then redeploy again without changing anything and it will deploy fine. I suspect the issue is on the backend with azure's resource management, and not with bicep, since it deploys fine sometimes.

[2022-10-04 15:01] alex-frankel commented on #8189
I've shared this with the Web Resource Provider team, so hoping they will investigate today. It might be productive for someone to open a support case in the meantime.

[2022-10-04 15:04] anthony-c-martin commented on #8078
FYI @bhsubra I've checked in #8567 to convert integration test failures into success, so that we can re-enable the "Required" check. Please could you investigate fixing the integration tests and removing this configuration?

[2022-10-04 15:09] bmoore-msft commented on #8561
I can check to see how easy it is to exclude this particular case for bicep generated templates - though seems like we should update bicep (it's already behind CLI/PS).  That said, I can't think of any reason why we'd gate the change on any other "tools" or changes.

This is going to cause failures in the marketplace for bicep generated templates until a fix is in somewhere.

[2022-10-04 15:13] northynorth commented on #1013
My use case is for SQL server deployment with auditing to Azure Monitor. To complete the configuration I need to set diagnostic settings on the master database, but this does not exist until some time after the SQL server resource deployment completes.

So even though there are dependancies on the sql server deployment for the master database diagnostics the template deployment would fail on first

[2022-10-04 16:02] bmoore-msft commented on #8561
published a work-around in the ttk - https://github.com/Azure/arm-ttk/pull/699

[2022-10-04 16:06] pirminrehm opened #8577 "Internal used `Microsoft.Resources/deployments@2020-10-01` is older than 730 days and causing linter errors"
**Bicep version**
Bicep CLI version 0.10.61 (8f44805506)

**Describe the bug**
Bicep Modules are complied to `Microsoft.Resources/deployments@2020-10-01`. The version is hard coded, e.g. in `TemplateWriter.cs` (`NestedDeploymentResourceApiVersion`) and not controllable.

As a result, the rule "apiVersions Should Be Recent" of the ARM template test toolkit cannot be applied anymore, as the bicep in

[2022-10-04 16:09] pirminrehm commented on #8577
duplicate of #8561

[2022-10-04 16:10] #8577 closed

[2022-10-04 16:37] alex-frankel commented on #8561
Thanks Brian - the reason I want to gate the change is so that we don't forget to update the other client tools.

[2022-10-04 16:37] alex-frankel commented on #8561
I'm going to close this and we can track the changes with #7932

[2022-10-04 16:37] #8561 closed

[2022-10-04 16:38] sam-cogan commented on #8561
Is there a way to skip this test  for this API version as part of the template code (rather than the CLI) as currently we can't publish packages to the marketplace  because this is failing, and we have not control of the parameters used to the run that test.

[2022-10-04 17:11] alex-frankel commented on #8561
@sam-cogan - won't the TTK update that Brian just implemented solve the marketplace issue?

[2022-10-04 17:13] anthony-c-martin opened #8578 "`AzResourceTypeProvider_can_deserialize_all_types_without_throwing` takes ~30 mins to run"
This delays all our CI jobs a LOT

[2022-10-04 17:13] sam-cogan commented on #8561
Yep it will, sorry I hadn’t seen that reply when I posted.

[2022-10-04 17:33] concreteutopia commented on #8189
Stating yesterday, I'm seeing this issue as well with unchanged Static Webapps & App Service templates starting yesterday in East US 2.  Not all deployments are failing and will usually succeed on a re-deploy.  Seemingly no commonality between failures/sucesses.

[2022-10-04 18:19] bmoore-msft commented on #8561
Since we have the other work item for the client tools - I think we'd be fine with the change (they aren't dependent on one another) but given we have the workaround, not sure there is any other reason to do it other than to keep in sync.

[2022-10-04 18:59] shenglol commented on #8578
Can we run the test only when the types are updated?

[2022-10-04 20:28] smthbh commented on #8189
I was deploying to East US 2 also. I opened a support case for it and redeployed until I got a failure for them to examine. We'll see what they say.

[2022-10-04 21:00] jeskew opened #8581 "Remove `RegistryEnabled` feature flag"
Should we remove this? (feel free to create a follow-up issue)

_Originally posted by @anthony-c-martin in https://github.com/Azure/bicep/pull/8559#discussion_r987186092_

[2022-10-04 21:01] jeskew opened #8582 "Consolidate CLI warnings about experimental features"
As a follow-up item, I think we should converge on a single message that covers enablement of all experimental features.

_Originally posted by @anthony-c-martin in https://github.com/Azure/bicep/pull/8559#discussion_r987323686_

[2022-10-04 21:36] alex-frankel commented on #8189
Can anyone share correlation IDs from when they run into this issue? That will help the web team track down the root cause.  The web team has also deployed some fixes recently that we think should be addressing some of these issues, but those need time to roll out, so it may take up to a week to get this fully resolved.

[2022-10-04 21:42] edwin-msft commented on #8189
Hey All, as Alex mentioned we have a code change in flight and will be rolling out in the next couple weeks. We are aware of this intermittent issue and have applied a mitigation where this is occurring: East US 2, UK South & Australia East.

In order to help us track down how we reach this state: can you please share your templates? Or perhaps some information regarding the kinds of resources dep

[2022-10-04 21:54] alex-frankel commented on #8495
This does not sounds like a bicep-specific issue, but rather something specific to the Web Resource Provider APIs. Tagging @naveedaz / @seligj95 as FYI.

@hasan2602 - are you able to open a support ticket for this and have it routed to the Web team? That is where you will get the most traction on getting this resolved.

[2022-10-04 21:55] #7955 closed

[2022-10-04 21:56] #8578 closed

[2022-10-04 22:03] alex-frankel commented on #8511
What do you see if output the following?

[code]

cc @jeskew - wondering if this could be a false positive on a write-only resource based on what we are seeing in swagger.

[2022-10-04 22:03] alex-frankel commented on #8515
Closing as duplicate of https://github.com/Azure/arm-template-whatif/issues/253

[2022-10-04 22:04] #8515 closed

[2022-10-04 22:05] alex-frankel commented on #8520
Can you share your bicep code? Are the peerings represented as a child resource or as a property? If it's the latter, then complete mode will not apply, since complete mode only affects if an entire resource is removed. It's not aware of changes/removal of specific properties.

[2022-10-04 22:08] alex-frankel commented on #8522
I thought we had an issue for adding "extract module", but I couldn't find it. This would be a great addition.

[2022-10-04 22:24] concreteutopia commented on #8189
Correlation IDs:
Static Apps: 4ec81a8b-b854-49e5-b8ae-81ae85253460, aaec3680-9d69-4415-8e32-10cc4d96286c
App Service: eaf90fa9-4b51-4a72-8ba3-751f5919eaaf

[2022-10-04 22:58] wahyuen commented on #8189
App Service

CorrelationIds:
0ae3a679-f3b4-4a6b-8f39-f83cf3ab424c
ccf4d440-ef1b-4365-9429-3ef795b23712
f880db1e-bbfb-4e26-86cd-6586e55c2e86
c1843112-cd90-4152-83e0-b3a8a22650f7
e7396b06-8ecc-4672-9c26-c945744dd0d7
14d9ad6d-ed4a-4cee-9c9c-8131607250f0
38cef05b-d6b7-462e-b343-310f88517530
9d183ac0-f740-4a0a-9825-df0e23631fbc
308a4d14-8d76-4e5d-bf1c-ebe76541f47a

[code]

[2022-10-05 02:56] anthony-c-martin commented on #8573
Please could you share the PowerShell script you're using to generate the markdown, as well as how you're passing it in to the Bicep file?

[2022-10-05 03:29] anthony-c-martin opened #8585 "Deprecate the `importsEnabledExperimental` VSCode setting"
Now that we have a means of opting in to experimental features via config file, we should remove this setting, and use this opt-in mechanism instead.

**TBD:** What happens if the user is editing a Bicep file without imports enabled? Is there a way to hide the command in VSCode?

[2022-10-05 06:46] jordylangermans commented on #8573
@anthony-c-martin I can't show the powershellscript but the given string is passed as deployment parameter to bicep:
 az deployment sub create --template-file "$bicepFile" --parameters String=$string

[2022-10-05 08:29] tobylo commented on #8511
`{
    "apiVersion": "2021-08-01",
    "properties": {
        "displayName": "redacted",
        "apiRevision": "1",
        "description": "redacted",
        "subscriptionRequired": true,
        "serviceUrl": "https://redacted.azurewebsites.net",
        "path": "redacted",
        "protocols": [
            "https"
        ],
        "authenticationSettings": {
            "oAuth2": null,

[2022-10-05 09:26] hansmbakker commented on #5103
To add to this: not all **URLs** have consistent formatting with a trailing `/`

Most have a trailing `/` but `portal` and `media` do not have it.

Really annoying when this inconsistency bites you.

[2022-10-05 11:39] straville commented on #6810
We've run into this issue as well and I've been scratching my head a couple of days.
This doesn't feel like enterprise-grade IaC solution..

At some point I was investigating option to define the whole NIC in Bicep and simply pass that as property to the private endpoint being deployed, but it seems NIC creation is fully automatic and only PE's NIC name can be customized.

Will examine deployment

[2022-10-05 12:24] anthony-c-martin commented on #8573
@jordylangermans could you try running the same command with the `--debug` flag enabled? It's still not clear to me whether the extra escaping is happening in AzCLI, or in the deployment engine.

For the following Bicep file:
[code]

And following deployment command (using Bash)
[code]

In the debug output:
`cli.azure.cli.core.sdk.policies: {"properties": {"template": "{\n  \"$schema\": \"https://

[2022-10-05 13:31] jordylangermans commented on #8573
thanks @anthony-c-martin It was indeed the string from powershell. I changed the string, I replaced the /n for hardcoded enters and the json converts this to the required /n

[2022-10-05 13:31] #8573 closed

[2022-10-05 15:44] jftl6y opened #8586 "Minify ARM JSON for deployments"
During a recent deployment we got an error that the deployment template exceeded the 4MB size limit.  When transpiling the Bicep to ARM, the file did in fact exceed 4 MB in size (likely from all of the module references).

I minified the JSON as such
`$inp = get-content .\deploy.json | convertfrom-json |convertTo-json -Depth 100 -Compress | out-file compressed.json`

which removed the human readab

[2022-10-05 17:48] alex-frankel commented on #8511
Definitely seems like a bicep types issue since the properties for this resource are all being returned. You may be able to work around in the meantime by outputting `apimservice::someApi` in a module and then querying the property outside of the module. Something like:

[code]

In the meantime, we will investigate what is happening.

[2022-10-05 18:40] pamelafox opened #8590 "No access to Error.Details[0] to debug LogAnalyticsConfiguration issue"
**Bicep version**

Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
When I run az deployment group create with my bicep file, I get an error that is very hard to decipher:

"ValidationForResourceFailed - Validation failed for a resource. Check 'Error.Details[0]' for more information.
InvalidRequestParameterWithDetails - LogAnalyticsConfiguration is invalid.  Must provide a valid LogAnal

[2022-10-05 18:42] #7752 closed

[2022-10-05 19:15] anthony-c-martin commented on #8224
Duplicate #1931

[2022-10-05 19:15] #8224 closed

[2022-10-05 19:16] anthony-c-martin commented on #1558
Duplicate #1931

[2022-10-05 19:16] #1558 closed

[2022-10-05 19:20] anthony-c-martin commented on #8340
This doesn't fit very well with the encapsulation we have for modules, and it would be very difficult (impossible?) to implement. Workaround is to use a nested module dedicated for returning the content, or to pass the object around through params/outputs.

[2022-10-05 19:20] #8340 closed

[2022-10-05 19:24] anthony-c-martin commented on #8426
This is a duplicate of #4757 - which takes the alternative approach of blocking overwriting by default. I'll copy this comment into the description of that issue so we can compare the two suggestions.

[2022-10-05 19:26] anthony-c-martin commented on #8433
@alex-frankel - is there any more action needed on this or should we close it with the above workaround?

[2022-10-05 19:38] miqm commented on #7318
closing due to lack of feedback from reporter

[2022-10-05 19:38] #7318 closed

[2022-10-05 19:53] puicchan commented on #8282
@chuckz1321, the Bicep extension should work with national cloud. Can you provide more details? e.g., which cloud? Are you deploying any resources that are not supported in that cloud? Is the message during login or during publish? etc.

[2022-10-06 02:15] anthony-c-martin commented on #7275
Did some experimentation on [this branch](https://github.com/Azure/bicep/tree/ant/experiment/diags_issue_link).

It's possible to write a code action which opens a URL if invoked - this works pretty nicely and feels like a viable approach. Here's a demo with my VSCode & browser window side by side:

https://user-images.githubusercontent.com/38542602/194199097-78655b6f-70ea-4745-ac29-907481d6615d.m

[2022-10-06 05:13] floriankoch commented on #8433
@dozer75 thank you, thats the right way, havend seen this…

@anthony-c-martin its solved from my side and can closed

[2022-10-06 06:33] johanredeploy commented on #8510
I got an answer to this on Stack Overflow where it was pointed out to me the limited value of the custom role, so I went another way with this in the end. I instead iterate secrets and assign _Key Vault Secrets User_ to those secrets for a principal.

However, I'm still interested as to why this didn't work.

[2022-10-06 07:23] WhitWaldo commented on #8497
I don't think [anyone](https://github.com/Azure/azure-quickstart-templates/issues/2786) believes that the virtual network approach as a whole is desirable given its general pain in pushing updates at all, but it's also generally accepted that's a historical limitation since it's such a relatively older API.

At least in my experience, a vast number of the modern ARM configurations do prefer maps o

[2022-10-06 09:11] cleverkm commented on #784
Bicep CLI version 0.11.1 (030248df55)
Microsoft.Network/virtualNetworks/virtualNetworkPeerings@2022-01-01
The property "remoteGateways" is not allowed on objects of type "VirtualNetworkPeeringPropertiesFormat"

[2022-10-06 09:12] diogocatossi commented on #788
Just like Terraform Plan and Apply on a whole project regardless of the scope resources being provisioned belong to, as long there's authorization for it, I was attempting to have a single bicep orchestration file that would call all the modules that provision those resources in different scopes for my ALZ (RGs, policies, VNETs, KeyVault, etc). With that a single 'what-if' call to validate the ent

[2022-10-06 11:39] chuckz1321 commented on #8282
@puicchan When I deploy bicep in Mooncake with VS Code. It will prompt the subscription could not be found. You can check the error message below.
![image](https://user-images.githubusercontent.com/33536264/194303057-e0f2397f-2bd2-4a12-aa87-0084d6c16c90.png)
I log on VS code with my Mooncake account. Any other services like app service or function could be deployed normally.

The resources are sto

[2022-10-06 11:44] chuckz1321 commented on #8282
You can reach me by Teams if you need me to present. My alias is chenzhang.

[2022-10-06 15:00] brsteph commented on #8520
The peers are their own resources - I am deploying the below, and then commenting or deleting them to deploy in complete mode.

I have noticed that if I remove vnet-2, and both peerings from the code, and deploy, that Vnet 2 will be removed but the peering from Vnet 1 to Vnet 2 will persist.

`param location string = resourceGroup().location

resource vnet1 'Microsoft.Network/virtualNetworks@2021-

[2022-10-06 15:55] SimonWahlin commented on #8590
I'm on mobile so can't debug right now, but shouldn't there be a sharedKey on the logAnalyticsConfiguration (line 124)?

Something like this:

logAnalyticsConfiguration: {
        customerId: logAnalytics.properties.customerId
        sharedKey: logAnalytics.listKeys().primarySharedKey
}

[2022-10-06 17:13] alex-frankel commented on #8590
Export from the portal is a best-effort process and unfortunately is not guarantee to recreate an exact match for the currently deployed infra.

Agreed this would be an improvement to the error message. Tagging @ruslany as FYI.

Since the issue got resolved, I'm going to close this.

[2022-10-06 17:13] #8590 closed

[2022-10-06 17:15] alex-frankel commented on #8586
It would be great if we can do this, but the only issue I would foresee is line & position info in error messages being incorrect. TBH, our line & position info is not as accurate as it should be, but this change would mean that all errors with position info would be on Line 1, Column X.

[2022-10-06 18:10] StephenWeatherford commented on #6956
@bhsubra What do you want to see?

[2022-10-06 18:13] StephenWeatherford commented on #5710
We need to figure this out or consider disabling the rule by default.

[2022-10-06 18:50] StephenWeatherford commented on #7745
All completed

[2022-10-06 18:50] #7745 closed

[2022-10-06 19:56] bmoore-msft commented on #8282
`Insert Resource...` fails with a similar `subscription not found` error...

[2022-10-06 20:17] StephenWeatherford commented on #8455
Hooked up to aka.ms

[2022-10-06 20:40] alex-frankel commented on #8517
Can you share what the tags look like after a deployment like this? I'm not too familiar with how tags work as a resource rather than as a property, but for all other azure resources, the name is a unique identifier. If you deploy multiple resources with the same name, one resource will overwrite the other. Is that not happening?

[2022-10-06 21:00] alex-frankel commented on #8519
I haven't deployed it myself, if the value of properties is a dictionary, you can move your "loop" inside the properties using a lambda function like so:

[code]

Definitely a hacky way to return a dictionary, but I think this will work.

[2022-10-06 21:37] helplessJ commented on #7396
This was annoying... had to add location to the bicep definition... VSCode doesn't like it, bicep dpeloyment warns about it, but Azure deployment succeeded with location defined in the template under the resource type Microsoft.Web/sites/basicPublishingCredentialsPolicies@2021-03-01

[2022-10-07 01:31] #7580 closed

[2022-10-07 02:27] anthony-c-martin commented on #8510
From the error message, looks like the issue is with the `secretReaderRoleDefinitionId` arg that you're passing to AzCLI:
[code]

It's being used here:
[code]

To build the expression for `secretReaderRoleDefinition.properties.assignableScopes`, we're essentially doing:
`extensionResourceId(<mg scope>, <type>, <name>)` - where the `<name>` parameter should just be a name, not containing any `/` ch

[2022-10-07 02:27] #8510 closed

[2022-10-07 02:29] anthony-c-martin commented on #8497
The original change was reverted with the 0.11 release, so this should no longer be occurring.

[2022-10-07 02:30] anthony-c-martin commented on #8403
The original change was reverted with the 0.11 release, so this should no longer be occurring.

[2022-10-07 02:30] #8403 closed

[2022-10-07 02:31] anthony-c-martin commented on #8171
@lonix1 any luck repro-ing?

[2022-10-07 02:55] majastrz commented on #7275
This is really cool!

[2022-10-07 06:24] johanredeploy commented on #8510
Thank you, makes sense to me!

[2022-10-07 07:27] #8458 closed

[2022-10-07 14:31] neilmca-inc commented on #5724
Got stuck all afternoon with this "kind" and all sorts of issues trying to get the understanding of Windows vs Linux - a really easy thing to do in the portal, but it is so poorly documented here https://learn.microsoft.com/en-us/azure/templates/microsoft.web/serverfarms?tabs=bicep&pivots=deployment-language-bicep

It's actually really awful

[2022-10-07 15:19] anthony-c-martin commented on #7184
Should be easy enough to implement! Here's a sample implementation (untested):
[code]

[2022-10-07 17:06] anwarchk commented on #2690
Is this feature coming to AzureGov anytime soon ?

[2022-10-07 18:05] StijnDevogel commented on #4992
@alex-frankel any chance you have an update on this on?

[2022-10-07 18:26] SimonWahlin opened #8598 "Support params files with `bicep format`"
Bicep now has a `bicep format` command to format bicep files.

Once the new params file format is ready, we should add support for formatting params files as well.

Ref: https://github.com/Azure/bicep/pull/8580#issuecomment-1267630869

[2022-10-07 19:38] spoelstraethan commented on #387
You still need to use a variable to lookup the correct value to return, it is convoluted but definitely works.

The below was in place in the JSON templates before I got involved with the ARM stuff, but works as the equivalent Bicep as well after I was able to wade through it to make some changes.

Our top level template takes the `image:` from a parameters file, this can be a specific disk image

[2022-10-07 21:31] dazinator opened #8600 "VS Code bicep extension, better intellisense remarks for resource names"
**Is your feature request related to a problem? Please describe.**

I'd like to set a name for resources, but I have no guidance as to what names are valid for the different types of resources.

**Describe the solution you'd like**
It would be really great if these rules could be collated from the various teams / product docs, and used approproately by intellisense when editing bicep templates. Fo

[2022-10-07 22:16] SvenAelterman opened #8601 "A way to create custom dictionary objects from arrays"
I would like to be able to create custom dictionary objects from arrays, such as when outputting the result of a loop. Currently, we can only use arrays for that, but that makes using that output dependent on the position of a particular resource in an array not changing. This isn't always guaranteed.

I would like to do something like this:

[code]

[2022-10-08 00:31] alex-frankel commented on #4992
No updates. I think we should revisit this after #2246 is implemented. I assume that functionality will be required to fix the properly.

[2022-10-08 00:34] alex-frankel commented on #8171
@lonix1 should we close this and/or transfer this to the [omnisharp project](https://github.com/OmniSharp)?

[2022-10-08 00:36] alex-frankel commented on #8600
Closing as a duplicate of #1679

[2022-10-08 00:36] #8600 closed

[2022-10-08 00:53] alex-frankel commented on #8601
Are all of the subnets part of the same vnet? If so, can you do something like this w/ lambda functions?

[code]

[2022-10-08 00:55] alex-frankel commented on #8601
Related to #8519. Definitely feels like we need a more straightforward way to go from array to dictionary.

[2022-10-08 09:32] dazinator commented on #1679
From my perspective as someone getting started with bicep, just being able to see some information as to what the rules are expected to be followed for the resource name value would be incredibly helpful - even if there was no compile time checking at all. Given you can use runtime variable values to set resource names, I hazard that compile time checks won't be able to catch everything anyway. Co

[2022-10-09 13:10] itpropro opened #8604 "Implement fixall support in VSCode extension"
It would be great for a consistent developer experience in VSCode to support the `fixall` statement like in `eslint`. The VSCode settings could look like this:

[code]

or

[code]

[2022-10-09 15:36] JanuszNowak commented on #7580
It will be released in which version ?

[2022-10-09 15:45] SvenAelterman commented on #8601
@alex-frankel Yes, they are all part of the same VNet. I'll try out those lambda functions.

[2022-10-10 05:18] dannyD-11 commented on #8189
Receiving this error intermittently with the following bicep template

[code]

[2022-10-10 10:14] EysteinWaade opened #8641 "Deploying to Microsoft.DBforPostgreSQL/flexibleServers@2021-06-01 hangs until timeout"
**Bicep version**
run `bicep --version` via the Bicep CLI, `az bicep version` via the AZ CLI or via VS code by navigating to the extensions tab and searching for Bicep
v0.11.1

**Describe the bug**
running azure/arm-deploy@v1 without changes to infrastructure tries to make changes to DBforPostgreSQL/flexibleServers and hangs.
This might not an issue with Bicep, but I'm opening this to see if anyon

[2022-10-10 10:32] remkotuinstra opened #8642 "Warning BCP187: The property "sku" does not exist in the resource definition, although it might still be valid."
When deploying an Azure Bastion host via Bicep,
**Warning BCP187: The property "sku" does not exist in the resource definition, although it might still be valid.**
appears.

[code]

If this is an inaccuracy in the documentation, please report it to the Bicep Team

[2022-10-10 10:52] JanuszNowak opened #8643 "Allow to install pre-release/beta/specifc_build of azure bicep"
**Is your feature request related to a problem? Please describe.**
Not able to easy/automatic way to install specific not release azure bicep version.

**Describe the solution you'd like**
Use addition parameter to point 'az bicep install --version v0.2.212-buildXXXX' or 'az bicep install --build 17497'
That will install azure bicep from build https://github.com/Azure/bicep/actions/runs/3192783981

[2022-10-10 11:39] m-soltani commented on #3565
Any roadmap or timeline on when this feature being developed and released?

[2022-10-10 11:41] m-soltani commented on #7813
@slapointe: Good points. Haven't had time to dig more on these details. Would appreciate if you can initiate some starter ideas on this.

[2022-10-10 15:23] bradygaster commented on #8405
I can confirm @glloyd2010f is accurate. This is specific to ACA's RP.

[2022-10-10 15:30] alex-frankel commented on #8641
Agreed that this is not likely a bicep issue. We can leave the issue open, but it would also be good to open a support ticket so this can be routed to the DBforPostgreSQL team. Do you mind creating that?

[2022-10-10 15:35] EysteinWaade commented on #8641
I already opened a ticket, and it is currently being adressed. Thank you for the reply.

[2022-10-10 18:01] jongio commented on #8405
Do we know who to follow up with on this?

[2022-10-10 18:24] alex-frankel commented on #8405
I'd start with @anthonychu / @ruslany

[2022-10-10 19:40] anthony-c-martin commented on #6864
Some notes from the discussion today:
* To enable the feature, we will allowlist for everyone on the ARM side, but we want to set the expectation that it's going to be experimental
   * We're OK with experimental warning only being shown with Bicep CLI (the current approach)
* We will continue to use `1.9-experimental` as the languageVersion
* AzCLI works fine, but we should add a test to make sur

[2022-10-10 20:02] jongio opened #8646 "Only attempt to load a module if the "if" condition is true"
I have a library of modules.

Modules depend on other modules.

Users can modify those modules (remove, mainly)

Sometimes I want to conditionally include a reference to a module based on a param value.

It would be nice if we could only evaluate the module pat if the condition to include it is true:

i.e.
[code]

Will error if appservice-config-union.bicep doesn't exist on disk and the condition

[2022-10-10 22:59] wsmelton opened #8647 "[VS Code Extension] Add command palette command Bicpe: Restart Current Session"
**Is your feature request related to a problem? Please describe.**
This may be similar to conversation in #4758 but at times with VS Code troubleshooting or system performance requires that we restart an extension. A few extensions offer this ability within a command palette command.

In current version the only way to restart the language server is reloading VS Code completely, or closing and reo

[2022-10-10 23:41] jeskew commented on #8646
This would be possible if the condition only uses compile-time constants (e.g., variables and data read from disk). If the condition refers to a param value, the compiler can't predict its value at deploy time.

[2022-10-10 23:45] jeskew commented on #8647
As a workaround, you can reload the VS Code window to avoid closing and reopening the program:

![image](https://user-images.githubusercontent.com/705500/194968374-96e2ee27-deff-4101-b3e1-9449c2184e38.png)

I have been doing that to force OmniSharp to restart (although it looks from your screenshot like I can just restart OmniSharp directly).

[2022-10-11 07:16] EysteinWaade commented on #8641
The issue seems to be resolved, however I do not have any information on what caused the issue.

[2022-10-11 07:16] #8641 closed

[2022-10-11 10:11] harshad-g commented on #6166
Has anyone found the solution to the problem of assigning access policies to KV for disk encryption set? I cannot change existing KV.

[2022-10-11 12:01] cmptscpeacock opened #8650 "Azure Redis Cache error: The language expression property 'primaryKey' can't be evaluated / 'secondaryKey' can't be evaluated"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
Deployment of an Azure Redis Cache causes an error when outputting the primary and secondary keys. Subsequent runs of the deployment doesn't have the error, so the outputs seem to be invalid until a short time after the deployment of Redis, which is an issue for pipeline deployments:

Error:
The template output 'redisCac

[2022-10-11 12:25] stan-sz commented on #7184
Is there an API to evaluate if it's not a literal name?

[2022-10-11 12:36] bmoore-msft opened #8651 "Linter: add rule for correct format of dynamic userAssignedIdentities"
**Describe the solution you'd like**
When using a userAssignedIdentity, the key of the key/value pair is commonly an expression.  When using a param/var for this key name, it must be interpolated.  This isn't common knowledge (or intuitive) so many users (including myself) get it wrong, even after the first time.  I missed this and have seen other users miss it as well, so figured it was time for

[2022-10-11 13:46] drewkg opened #8652 "Extension resource Symbolic name for Resource that does not yet exist"
**Bicep version**
06.10.61

**Describe the bug**
This might not be a bug as such.  We have a Policy that denies the creation of an NSG if it allows access to the Internet, however we need to create just such a policy and security are happy for us to put in a Policy Exemption.  However within bicep to deploy an Extension Resource (policyExemption) we need a symbolic name referencing an instance of

[2022-10-11 15:21] bmoore-msft commented on #6166
If you cannot modify the vault, the only option would be to use RBAC on the vault instead of accessPolicies...  somehow you have to be able to give the new principal permission to it...

[2022-10-11 15:36] alex-frankel commented on #8642
Can you confirm that having the `sku` property declared is having the desired effect? Sometimes declared properties can be ignored by the resource provider if it is not recognized.

[2022-10-11 16:12] kara-ahmet commented on #784
Getting these warnings when creating data factory pipelines:

**The property "linkedServiceName" is not allowed on objects of type "SqlServerStoredProcedure". Permissible properties include "description", "userProperties". If this is an inaccuracy in the documentation, please report it to the Bicep Team.**

Without the property the pipeline module isn't connected to the linked service. Maybe there

[2022-10-11 17:22] shenglol commented on #7297
The fix was deployed.

[2022-10-11 17:22] #7297 closed

[2022-10-11 18:40] lingxiao-ms commented on #7903
Hi all, thanks for reporting the issue. The fix to address the issue has been deployed in production

[2022-10-11 19:28] kplantus commented on #8519
@alex-frankel this is a viable workaround.  I was able to deploy with the desired behavior.  Thanks.
Appreciate that you tagged with a suggestion to look for a more straightforward way to go from Array to Dictionary.  +1

[2022-10-11 19:31] alex-frankel commented on #8519
Awesome - glad it is working!

[2022-10-11 19:31] #8519 closed

[2022-10-11 20:02] #7903 closed

[2022-10-12 13:33] ixcdevops commented on #784
For bicep deployment of LogAnalytics Workspace, the **configurations** property is not known, deployments however are successful:

**Bicep CLI version 0.10.61**

Warning Message:

[code]

[2022-10-12 16:05] VELCpro commented on #6407
The code that I deployed is something like the following code:

[code]

[code]
The issue is still there also with the stable version of 2022-05-01
[code]

**using the latest api 2022-06-01-preview  everything works** due to the fact that now we can specify subscriptionId and resourceGroup

[code]

[2022-10-12 16:26] VELCpro commented on #6407
The links are created correctly but they end up in a strange "not found" error

![image](https://user-images.githubusercontent.com/40121527/195396921-8579603b-3e70-4cb1-82b7-1c8f320defad.png)

Here for example i clicked on the container link

![image](https://user-images.githubusercontent.com/40121527/195397243-5a7fce17-843f-4dc7-ad36-d48c95e423cb.png)

[2022-10-12 16:45] alex-frankel commented on #6407
This is an issue with the Azure ML Resource Provider. Can you open an Azure support case, so this can be routed to the Azure ML team?

[2022-10-12 16:48] alex-frankel commented on #8651
It would also be beneficial to have stricter type definitions for this property name. I don't think that is possible today with our type system and/or it is not expressible in swagger, but we should throw an error in the incorrect case since it is not a resource ID.

[2022-10-12 16:49] alex-frankel commented on #8651
Tagging @puicchan in case it is something that should be prioritized sooner than committed.

[2022-10-12 16:55] dazinator opened #8655 "Creation of user "Groups" within an Azure AD."
**Is your feature request related to a problem? Please describe.**
I'm able to automate creation of a custom role definition with bicep, and automate creation of a role assignment - assuming I am handed the principal id and principal type as a parameter.

For flexible deployments with minimal input, i'd rather my bicep deployment automatically create:
- A "group" within azure ad.
- Now it can assi

[2022-10-12 19:16] alex-frankel commented on #8643
Today, it is not possible to retrieve artifacts from an arbitrary build unless you are an authenticated user.

[2022-10-12 19:25] alex-frankel commented on #8647
@wsmelton -- are there particular issues that you are running into often that require a restart? We are aware of #1931 which ends up requiring a restart. Would be curious if there are others.

[2022-10-12 19:44] StephenWeatherford commented on #1759
# Dev Comments
- I assume we want the following functionality:
  - paste an entire ARM template
  - paste an individual resource or subset of resources
  - paste an object and have double quotes converted to single quotes/etc

# Issues
- [ ] A big issue will be what missing pieces we can tolerate, e.g.:
  - Missing params and variables shouldn't be a big problem (but will have to make changes - cu

[2022-10-12 19:56] elygre commented on #6653
Re-listening to the community call, I would also like to advocate for a solution where "no import statement" means "automatic import of az", while "any import statement" means "import only what is specified".

[2022-10-12 19:56] elygre commented on #6641
Re-listening to the community call, I would also like to advocate for a solution where "no import statement" means "automatic import of az", while "any import statement" means "import only what is specified".

[2022-10-12 20:34] alex-frankel commented on #4270
Discussed this today, there are some options for implementing this only in bicep (not in the deployment runtime), which makes this a feasible ask. @miqm will add some pseudocode on what the implementation might look like.

We need to have one more discussion to see if we can get this done in the next few months, otherwise it will be implemented as part of the 1.0 milestone.

[2022-10-12 21:32] wsmelton commented on #8647
It varies, most are development related when creating templates/modules/etc.

- File system reference to module, update that module and referencing template will show linter errors of invalid parameters and/or intellisense will not pick up those new parameters added. Only fix is to reload VS Code so the ext service restarts.
- ACR private repo reference receive new updates on published modules and

[2022-10-12 22:01] dazinator commented on #4023
Hitting this with keyvault.

When we develop features for an app, we might need to introduce new secrets into its deployment.
We'd like to update our bicep deployment file, so that the secret is created with a default value (based on newguid()) if it doesn't exist. Ideally, if the secret is value is changed, we'd like to use to that latest value in the deployment. So not sure if my ask is the same

[2022-10-12 22:46] msft-takend opened #8659 "Add option to installer for %PATH% update"
**Is your feature request related to a problem? Please describe.**
When you run ``` winget install Microsoft.bicep``` the cli is not added to the %PATH% and you have to go track down where the exe is and add that manually.

**Describe the solution you'd like**
If an option to add the install location to the path is in the installer and accessible via the cli install, we can update [the winget inst

[2022-10-12 22:52] alex-frankel commented on #8655
Closing as duplicate of #7724

[2022-10-12 22:52] #8655 closed

[2022-10-12 22:55] alex-frankel commented on #8659
At one point @piraces was maintaining our Chocolatey and winget support for installing bicep. It is not something the bicep team manages directly. @piraces -- do you think this is something you can help @msft-takend with?

[2022-10-12 22:57] alex-frankel commented on #8650
Most likely this is a case of the resource provider prematurely reporting that the resource is done provisioning. The best next step would be for you to open an azure support case, so that this can be redirected to the Redis team. Do you happen to have a correlation ID from the error? I will also pass this to the Redis team on my side so they are aware.

[2022-10-13 06:05] slavizh commented on #4270
yep, my ask was always to be in bicep as it is already possible in ARM and no need to implement at deployment runtime.

[2022-10-13 06:15] slavizh commented on #6641
May be this can be solved like this:
- az is imported by default and you do not have to define anything in the files or in bicep CLI command
- In case your bicep templates you use ```resource foo 'Microsoft.Compute/virtualMachines' = ...``` - without specifying the version linter rule warn you (or error out) that it is recommended to have import statement with specific az version.

This way all ex

[2022-10-13 09:13] piraces commented on #8659
Hello @alex-frankel . I will review the problem and try to solve this issue. The automations are working well for now and the manifest for `winget` is on the latest version.

I will update here with newer information.

[2022-10-13 09:42] pmesgari opened #8662 "`loadJsonContent` behaves differently depending on the sequence of making a change and building ARM template."
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
`loadJsonContent` behaves differently depending on the sequence of making a change and building ARM template.

Different combinations of making a change to the JSON file and then removing and building the ARM template produce different results.

**Cycle A:** Following this sequence captures the changes in the JSON file p

[2022-10-13 10:26] JanuszNowak commented on #8643
@alex-frankel in that case we can add GH Token as parameter on environment variable to 'az bicep install --version v0.2.212-buildXXXX -GHToken XXXX' or 'az bicep install --build 17497 -GHToken XXXX'  ?

[2022-10-13 11:53] StefanIvemo opened #8663 "Feature Request - Region Block in Bicep file"
### Discussed in https://github.com/Azure/bicep/discussions/8661

<div type='discussions-op-text'>

<sup>Originally posted by **aavdberg** October 13, 2022</sup>
Would love to see a Region Block in Bicep like we have in PowerShell Scripts, this makes scrolling thought the Bicep file a better overview.

</div>

[2022-10-13 12:39] slavizh commented on #8663
wohooo

[2022-10-13 15:30] MrMCake commented on #7066
Hey @alex-frankel, I got word the issue was resolved on the RP-side and the fix will be available next month. Should we keep the issue open and I give you an update once I was able to validate the fix - or should we close it instead - and folks can see that something happened in the original [CARML issue](https://github.com/Azure/ResourceModules/issues/1590)?

[2022-10-13 15:51] alex-frankel commented on #7066
I'm fine if you want to close this since it is easier to keep track of just one issue.

[2022-10-13 17:25] alex-frankel commented on #8663
Is this the same as #46?

[2022-10-13 17:26] alex-frankel commented on #4270
Given that @miqm was able to get the draft PR done quickly, I'm going to optimistically move this to v0.13.

[2022-10-13 18:13] edburns commented on #7932
Here is another arm-ttk issue caused by the old apiVersions generated by Bicep.

https://github.com/Azure/arm-ttk/issues/704

[2022-10-13 19:17] StefanIvemo commented on #8663
Looks like it is a dupe. @aavdberg is the solution discussed in #46 what you are looking for?

[2022-10-13 19:20] piraces commented on #8659
Hi @msft-takend , I have just tried to uninstall completelly bicep and execute the command to install bicep as you indicated (`winget install Microsoft.bicep`) and it just works for me:
![Bicep installation](https://user-images.githubusercontent.com/11027628/195689897-9345e32f-40bc-4865-8967-4d47314f26df.png)

Could you please try again or indicate the version of `winget` you are using to reproduc

[2022-10-13 19:53] alex-frankel commented on #3565
The kubernetes provider is almost done. Hopefully it will be released in October, but might slip to November.

[2022-10-13 20:43] #8171 closed

[2022-10-13 20:45] miqm commented on #4270
A question to people watching this issue.

Currently, when we use `getSecret` not directly on module param a following message is shown:
`Function "getSecret" is not valid at this location. It can only be used when directly assigning to a module parameter with a secure decorator.`

Question is - what error message should it be now? any ideas?

My proposal:
`Function "getSecret" is not valid at thi

[2022-10-13 21:19] puicchan commented on #6827
Talk to Shenglong about live test.

[2022-10-13 21:20] #551 closed

[2022-10-13 21:27] puicchan commented on #7550
Settings support is added. We will wait for customer feedback to add .editorConfig. Closing for now.

[2022-10-13 21:27] #7550 closed

[2022-10-13 21:27] puicchan commented on #8029
This is done.

[2022-10-13 21:27] #8029 closed

[2022-10-13 21:28] #6913 closed

[2022-10-13 22:01] StephenWeatherford commented on #5377
FYI @puicchan Requested by @bmoore-msft for higher priority

[2022-10-13 22:36] #8433 closed

[2022-10-14 00:00] alex-frankel commented on #8520
OK I'm 95% sure this is because `virtualNetworkPeerings` is another "thing" that is modeled as both a property in the VNET API and a child resource, but in reality it is only a property on the VNET, so when you run the deployment in complete mode, ARM Deployments doesn't recognize that a resource was removed.

Including @bmoore-msft and @brwilkinson who may know more. Also will share this with the

[2022-10-14 08:24] algattik commented on #784
WARNING: /home/vsts/work/1/s/src/deployment/src/biceps/purview.bicep(20,3) : Warning BCP073: The property "sku" is read-only. Expressions cannot be assigned to read-only properties. If this is an inaccuracy in the documentation, please report it to the Bicep Team. [https://aka.ms/bicep-type-issues]

[code]

[2022-10-14 15:33] #6774 closed

[2022-10-14 16:14] ianjirka commented on #784
Decompiling the ARM template provided by the portal of type : Microsoft.RecoveryServices/vaults/backupPolicies

G:\rep\uhe\scratch\b\template.bicep(24,5) : Warning BCP037: The property "timeZone" is not allowed on objects of type "AzureIaasVM". Permissible properties include "protectedItemsCount". If this is an inaccuracy in the documentation, please report it to the Bicep Team. [https://aka.ms/bi

[2022-10-14 16:44] afscrome commented on #8642
`2020-11-01` is a pretty old bastion api version.  The `sku` property seems to have been introduced in `2021-08-01`.

[2022-10-14 17:26] alex-frankel commented on #8642
Good spot @afscrome :) Thanks for looking.

[2022-10-14 17:26] #8642 closed

[2022-10-14 18:15] bmoore-msft commented on #8520
I think it may be slightly worse with peerings because I don't think you can LIST them (so complete mode doesn't even see them).

FWIW, I just tested with stacks (thanks for the template) and stacks handles this correctly.

[2022-10-14 20:02] anthony-c-martin commented on #8643
If you have the `gh` CLI installed, then this script could be modified fairly easily to run on the main branch and install the CLI to the right place:

https://github.com/Azure/bicep/blob/main/scripts/pr_install_vsix.sh

[2022-10-14 20:31] StephenWeatherford commented on #8514
From discussion, it was determined that:
1) user interaction from the language server is an anti-pattern (at least as far as what the Omnisharp code is designed for)
2) best solution for now is to break up events so that only client code (extension) interacts with the user
3) we'll leave the ContentModified support on

[2022-10-14 20:31] #8514 closed

[2022-10-14 21:03] alex-frankel commented on #8520
Great that this will be resolved with deployment stacks. My assumption is that we will not be able to resolved the issue for complete mode, but will wait for more thoughts from NRP.

[2022-10-14 22:09] dciborow commented on #8662
@pmesgari , i have tried to reproduce this... but I wonder if it is possible that the JSON file was edited but unsaved when the ARM template did not show the change?

I did this myself when trying to reproduce but cannot reproduce when I save.

[2022-10-14 22:31] bmoore-msft opened #8669 "bicep should throw when nesting runtime functions"
Bicep makes a little easier to nest runtime functions now that they can be used in variables.  So when we warn that a symbolic reference cannot be used somewhere, moving to a variable is a natural step to try - though it won't ever "fix" the problem, it just means it doesn't get flagged until preflight.

Since we compile this scenario, we should probably flag it...

The scenario below is another w

[2022-10-14 23:44] #8516 closed

[2022-10-15 08:29] pmesgari commented on #8662
Hi @dciborow I have made a screen recording while performing the steps in the comments above, I hope this clarifies the issue.

The JSON file was saved after every change and before every build of the ARM template.

Here is the link to the screen recording, [loadJsonContent](https://youtu.be/HlK0-hHQ9HY)

[2022-10-16 08:52] m-soltani commented on #3565
cool, hoped for `aad` provider, specifically creating service principal directly via `IaC` helps to fully automate some scenarios.

[2022-10-17 11:20] sanalkr commented on #784
I am generating bicep template for 'Microsoft.Portal/dashboards' in VS code using "Bicep: Insert Resource" option.

The below warning shows up for wherever the type is not _Extension/HubsExtension/PartType/MarkdownPart_
[code]

[2022-10-17 11:23] drewkg commented on #784
See https://github.com/Azure/azure-resource-manager-schemas/issues/1806 for some details on this issue.

[2022-10-17 18:13] jeskew commented on #8511
It looks like Autorest is collapsing [the `/service/{serviceName}/apis/{apiId}` endpoint](https://github.com/Azure/azure-rest-api-specs/blob/6c81b8f165ec787728ad1ec286d2d7feabb64da0/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/apimapis.json#L113) (which is what ARM uses and which *does* define a `properties` property) with [the `/service/{serviceName}/apis

[2022-10-17 18:20] edburns opened #8710 "Make it possible to reference outputs in expressions"
**Is your feature request related to a problem? Please describe.**

The **outputs** of a Bicep file can constitute a contract. As such, providers are expected to maintain compatibility. Sometimes contracts have [spelling mistakes](https://en.wikipedia.org/wiki/HTTP_referer#Etymology). I would like to correct such a mistake in my contract, but do it by having the incorrect output be an "alias" of t

[2022-10-17 21:19] alex-frankel commented on #8013
@stephenweatherford -- do we need more discussion on this one? Otherwise, can I remove the "discussion" label?

[2022-10-17 21:19] alex-frankel commented on #8663
Closing due to lack of response. We'll assume it's the same #46 unless we here something different.

[2022-10-17 21:19] #8663 closed

[2022-10-17 21:21] alex-frankel commented on #8669
I remember at one point @shenglol implemented validation for this. I suspect you are right that it has to do with the use of `existing`. @shenglol -- any thoughts on this one?

[2022-10-17 21:23] alex-frankel commented on #8710
As a workaround, what about setting a variable and using that as the value for both outputs. More verbose, but still DRY.

[code]

[2022-10-17 22:16] StephenWeatherford commented on #8013
Removed it for now.

From: Alex Frankel ***@***.***>
Date: Monday, October 17, 2022 at 2:19 PM
To: Azure/bicep ***@***.***>
Cc: Stephen Weatherford ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/bicep] Proposal - Finalize default levels for linting rules (Issue #8013)

@StephenWeatherford<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FStephenWeatherford&data

[2022-10-17 23:23] alex-frankel commented on #8652
Can you share more details/code samples about how the policy exemption needs to be expressed in bicep? I'm not following where you are blocked

[2022-10-17 23:25] alex-frankel commented on #8511
Thanks for looking @jeskew. If/when autorest resolves the issue, will we need to do anything on our side to complete the fix? Will we need to regenerate types?

[2022-10-17 23:39] jeskew commented on #8511
We will need to regenerate types, but that would be all that needs to be done from our side.

[2022-10-18 04:53] aavdberg commented on #8663
Yes that is what i am looking for

[2022-10-18 07:04] stan-sz commented on #3897
Mildly related to #7184

[2022-10-18 09:12] deogratias-saidi opened #8711 "Bicep client: couldn't create connection to server"
Does this occur consistently?
Repro steps:

1.
2.

Action: bicep.activate
Error type: string
Error Message: Launching server using runtime C:\usr\local\share\dotnet\dotnet failed. Error: spawn C:\usr\local\share\dotnet\dotnet ENOENT

Version: 0.11.1
OS: win32
OS Release: 10.0.22000
Product: Visual Studio Code
Product Version: 1.72.1
Language: en

[2022-10-18 09:16] Suchiman opened #8712 "Bicep reports cycle for app service slot swapping"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
If you try to implement azure app service slot swapping via a bicep template, for example, by decompiling the example given for ARM templates https://azure.github.io/AppService/2019/10/02/Swap-slots-with-arm-templates.html then you'll get an error, saying that `The expression is involved in a cycle` because the site depe

[2022-10-18 11:03] daniel-seitz commented on #784
The property "ipSecurityRestrictionsDefaultAction" is missing in Microsoft.Web/sites@2022-03-01 -> properties -> siteConfig. Please add.

[2022-10-18 11:49] stan-sz commented on #5715
The `load...` [file functions](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/bicep-functions-files) need to be considered for inputs that affect the output file.

[2022-10-18 12:00] Jonatan-V opened #8714 "Unable to authenticate to acr module registry with vs code (azure account)"
**Bicep version**
VS Code bicep extension v0.11.1

**Describe the bug**
When I create a module that references another module in acr, i get auth error (see additional context) when i try to use VS Code (azure account extenstion).
Using azure cli works as expected though.

**To Reproduce**
Steps to reproduce the behavior:
Create a module that references a module in acr ie:

module name 'br/Registry

[2022-10-18 12:10] ipatillon-expertime-com opened #8715 "resourceID function do return a valid ID even if object does not exist"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
I use a variable to get the ResourceID of an object.
`var myRouteTable = resourceId('Microsoft.Network/routeTables', global_naming.route_vpn_to_fw_hub)
`
even if the object is not deployed the variable is set with the correct ResourceID, as if it construct it programmatically instead of getting an Azure response

**To Re

[2022-10-18 15:52] alex-frankel commented on #8652
I see. I don't see this as a bicep issue, as you would have the same problem no matter what tool you are using. TBH, I'm struggling to understand how this would work. It is impossible to create an extension resource that extends a resource that doesn't exist. I'm going to share this with the policy team and see if they have any ideas or have come across the scenario.

[2022-10-18 15:58] alex-frankel commented on #8712
I'm not sure why that template has a dependency on its child resource. It is impossible to create a child resource before a parent. What happens if you remove the `dependsOn` property?

[2022-10-18 16:42] alex-frankel commented on #8662
Thanks for the video - made it easy to follow! I'm 99% sure this is a duplicate of this issue #8239. The "bicep: build" command is caching the JSON file.

[2022-10-18 16:42] #8662 closed

[2022-10-18 16:43] alex-frankel commented on #8239
@bhsubra - we just got another report of this one. Do we have a workaround for clearing the cache? If not, should we revisit the priority of this one?

[2022-10-18 16:58] alex-frankel commented on #4922
Related to #3039

[2022-10-18 16:59] alex-frankel commented on #3039
I am going to close this since we've largely completed the work with the `load*Content()` functions. @rellis-of-rhindleton - we will track the distinct ask of loading from a URI with #4922.

[2022-10-18 16:59] #3039 closed

[2022-10-18 17:02] Suchiman commented on #8712
@alex-frankel this code was decompiled from my existing ARM templates so they do work. Both resources already exist at that point (this is part of a nested template that performs the slot swap). The way this works, is that you first set the buildVersion in the slot that you want to become production and in the prod slot / the main site, you then set the targetBuildVersion and app service then figu

[2022-10-18 17:32] #7865 closed

[2022-10-18 17:35] alex-frankel commented on #8715
The `resourceId()` is only a string manipulation function. The `existing` keyword will attempt to construct a proper reference to the resource and will fail if it doesn't exist, but that does not give you the functionality you are looking for. That is tracked with #4023, so I'm going to close this one.

[2022-10-18 17:35] #8715 closed

[2022-10-18 18:27] alex-frankel commented on #8712
Oh I see. This is tricky because the app modelling is a little odd. It seems like a slot should be a separate top-level resource, not a child resource.

To make sure I understand this correctly, this deployment would fail if the website didn't already exist?

As a workaround, can you remove the `parent` property and instead use segmented resource name like so?

[code]

[2022-10-18 18:49] #5328 closed

[2022-10-18 22:03] mark-vw commented on #8283
+1
Also running into this and actively looking for a workaround.

[2022-10-18 22:24] bhsubra commented on #8239
@alex-frankel, I am investigating this. Updated the milestone to v0.12. Thanks!

[2022-10-18 23:15] HenkAJV opened #8718 "bicep sslProfile deployment eanbling/working for httpListener"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
Deploying Azure Gateway with sslProfile does NOT enable sslProfile on HTTP Listener.
GW resource definition used (Microsoft.Network/applicationGateways@2020-11-01)

I included more screen shots in the attached document.

**To Reproduce**
The following is the manual steps
1. Create GW with at least one listener
2. Create

[2022-10-18 23:53] alex-frankel commented on #8718
Can you share the complete/relevant bicep code? Export Template can sometimes have issues where certain properties/resources may note be exported. Do you know which bicep properties are supposed to be set to enable this?

[2022-10-19 02:50] nehakulkarni123 commented on #8652
Thanks for sharing your scenario-- we have related scenarios that have come up on our radar. Do these NSGs differ in configuration in any way from an NSG that would be denied-- for example, do you have a particular naming convention that you apply for these NSG resources being created?

[2022-10-19 05:44] xdvarpunen commented on #1779
There are two ways currently to export existing ARM template to Bicep
- VS Code supports currently exporting resource in Bicep (https://github.com/Azure/bicep/releases/tag/v0.4.1124).
- `bicep decompile` command converts exported template to bicep.

ARM template users are used to export template in Azure Portal and modify it for their needs. It works and needs no extra tools or steps.

@alex-frank

[2022-10-19 08:22] drewkg commented on #8652
@nehakulkarni123 There is nothing special about our naming convention, roughly following that MS best practice.  We would be hesitant to use names or tags for an exclusion as this could open up a potential hole in the policy.  All our other policy exemptions in this area are currently based on excluding the resource group (things like VM images etc), but as this is a PCI environment we need to loc

[2022-10-19 08:41] mrkesu commented on #5974
Ah, this solved the issue I was having. I guess I'll fix it by breaking up the bicep files a bit. Cheers.

[2022-10-19 08:41] oxbo-andre commented on #784
Getting a warning about osState in Microsoft.Computes.Images

Warning BCP035: The specified "object" declaration is missing the following required properties: "osState". If this is an inaccuracy in the documentation, please report it to the Bicep Team. [https://aka.ms/bicep-type-issues]

when looking in https://learn.microsoft.com/en-us/azure/templates/microsoft.compute/images?pivots=deployment-la

[2022-10-19 13:34] AdamRiddick commented on #784
Microsoft.Consumption/budgets@2021-10-01

notifications object says contactEmails is required, when it isn't. Additionally, the documentation page just states an object is required for notifications, with no link or documentation on the notification object (https://learn.microsoft.com/en-us/azure/templates/microsoft.consumption/2021-10-01/budgets?pivots=deployment-language-bicep#budgettimeperiod:~

[2022-10-19 14:26] Suchiman commented on #8712
correct

yep that works, thanks!
On another note, i realized that i can simplify the deployment by setting the `buildVersion` in the parent template when the slot gets created initially, then the nested template only needs to update the sites, not the slots and that solves the dependency cycles as well.

so it seems, how to get that fixed?

[2022-10-19 17:37] alex-frankel commented on #8714
Just to double check, are you signed into the "Azure Account" extension? Assuming yes, we will need to investigate this further.

[2022-10-19 17:57] MartinWa opened #8722 "Warning no-hardcoded-env-urls does not give information on how to solve issue"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
I want to add the base url for a AAS in an appSetting to use in REST API calls according to [this](https://learn.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh). Not finding any better way to do this I have added
[code]
This then (correctly) gives the lint error:
[code]

However neither the l

[2022-10-19 18:29] #8498 closed

[2022-10-19 18:31] stephaniezyen opened #8723 "Bicep Community Call - October '22"
We are hosting our monthly Bicep community call next Thursday, October 27th at 9AM PST!

Use this issue to address topics you would like to discuss, questions you have for our team, further demos you would like to see, and any high or low points you would like to share. This is an open space for our users to discuss any topics they would like to talk about with our team.

You can list topics of di

[2022-10-19 18:50] alex-frankel commented on #8712
We will need the Web Resource Provider team to update their swagger specification. Tagging @seligj95 / @naveedaz to triage.

[2022-10-19 19:10] alex-frankel commented on #8711
Closing as dup of #6902

[2022-10-19 19:10] #8711 closed

[2022-10-19 19:11] alex-frankel commented on #6902
@anthony-c-martin - can you take a look at this one? I know you had mentioned there were some fixes related to this issue that had been done recently.

[2022-10-19 19:14] alex-frankel commented on #8714
@bhsubra / @puicchan -- can you take a look at this one?

[2022-10-19 19:15] alex-frankel commented on #8722
Closing as dup of #2999

[2022-10-19 19:19] StephenWeatherford commented on #8722
@bmoore-msft Is there a valid way to do this using the environment() function?  Thanks!

[2022-10-19 19:29] shenglol commented on #8011
An existing resource name referencing a runtime property like an output of a module may lead to nested runtime functions, which is not supported by ARM. We are going to update Bicep to check for nested runtime references and block them at compile time, which is already tracked by #8669.

[2022-10-19 19:29] #8011 closed

[2022-10-19 21:09] PrasannaK12 commented on #5516
Hello I'm also facing issues, while creating api connection arm for SQL ,
Getting below error.

"the api connection 'sql' is not configured to support managed identity".
Anyone know why it's showing?

[2022-10-19 23:27] bmoore-msft commented on #8722
I don't see the endpoint published... here: https://management.azure.com/metadata/endpoints?api-version=2019-05-01

[2022-10-20 06:35] stan-sz commented on #387
@anthony-c-martin - the concept of `undefined` vs `null` reminds me of the issue #3351 where I asked about schema for resource providers (actually schema + semantics). Having RP authors to adhere to strict idempotency rules about e.g. what does passing `null`, `{}` or omitting a property explicitly, would make a clear API to the ARM callers and help avoid extra syntax in Bicep.

[2022-10-20 06:37] stan-sz commented on #3113
Related to #4364

[2022-10-20 06:44] stan-sz opened #8725 "New linter rules for storage account best practices"
There's a set of best-practive property values for new storage accounts that should be set explicitly to overwrite the [ARM template defaults](https://learn.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts?pivots=deployment-language-bicep):

[code]

The issue is about creating a new linter rule to remind about these settings.

[2022-10-20 08:45] Jonatan-V commented on #8714
Yes I am indeed.

[2022-10-20 13:37] anthony-c-martin commented on #6902
@tg2-mygovus could you try commenting out your settings for `dotnetAcquisitionExtension.existingDotnetPath` and seeing if that fixes the issue?

[2022-10-20 16:36] alex-frankel opened #8727 "Support teleport for installing bicep CLI in airgapped clouds"
https://eng.ms/docs/cloud-ai-platform/azure-edge-platform-aep/aep-silver/sovereign-foundation-team/cloud-transfer-service/cts-onboarding/engine

[2022-10-20 16:36] alex-frankel commented on #3447
Might need to finish #8727 as part of this implementation

[2022-10-20 16:39] alex-frankel commented on #8722
If there is no endpoint published, is the fix to not flag this URL?

[2022-10-20 17:37] #3240 closed

[2022-10-20 17:39] bmoore-msft commented on #8722
Yes, we should ignore `asazure.windows.net`

[2022-10-20 17:43] alex-frankel commented on #8722
@StephenWeatherford / @puicchan I moved this to "committed", but feel free to reprioritize.

[2022-10-20 18:05] StephenWeatherford opened #8728 "Need docs for new decompiler-cleanup linter rule"
https://github.com/Azure/bicep/issues/3240

[2022-10-20 18:13] StephenWeatherford commented on #8728
Example:  If you decompile the following:
[code]
in the next release we will hopefully have a Decompile command in vscode, but you could do it via command line:
[code]
... then you will currently get this (might improve in the future):
[code]
And there should be a violation noted about resourceGroup_var

[2022-10-21 05:36] mitchdenny opened #8729 "Preserving existing properties during deploymnet"
I'm frustrated when I am unable to do simple things like add a tag to an existing resource without wiping out pre-existing tags that may have previously been added. Here is an example of an ARM template I need to write when I need a deployment to add a tag and avoid wiping out other tags that might have been manually added for other purposes:

[code]

The equivalent of this in Bicep is more concis

[2022-10-21 06:26] majastrz commented on #5715
Agreed. For param files, references to bicep files via the `using` keyword should also be included.

[2022-10-21 07:07] cwe1ss commented on #7724
This is fantastic news. Will this also allow us to reference/query existing AAD objects? (E.g. to set the SQL Server AAD admin to an existing AAD group)

[2022-10-21 07:50] phille968 opened #8730 "AuthenticationFailedException while deploying bicep-file pointing to ACR-module from Azure Devops classic release."
**Description**
We are transitioning from using ARM-templates to bicep, and are now trying out storing bicep-modules in an ACR.
Though when using the "ARM-template-deployment"-task  in the classic Releases-view, we are getting an AuthenticationFailedException. (see Error in additional context)

This only fails when our bicep file has a reference to our module in our ACR, deploying any "normal" res

[2022-10-21 08:59] Codemagedon commented on #4270
The issue at hand has the added complexity that the use of the wording directly is open for interpretation if there is no underlying supporting documentation to define it's use within the language. As such I find that the original error message is only wrong due to the fact that it is feature limited, not necessarily because there is a syntactical error once the feature is implemented.

For exampl

[2022-10-21 10:47] hansmbakker opened #8731 "VS Code - Generating parameters failed: cannot open redacted:url"
Use case: generate a parameters file for a `main.bicep` which references a module that is work in progress.

Does this occur consistently? Not sure
Repro steps:
1. Create a bicep file that contains errors
2. Create a `main.bicep` file with `param` definitions. The bicep file should reference the bicep file from `1.` as a module
3. Press `Ctrl-Shift-P` --> select `Bicep: Generate Parameters File` -

[2022-10-21 12:25] Vox1984 opened #8733 "Allow `getSecret()` to be used with `@secure()` objects"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
I am not able to use keyvault getSecret with secure object params passed directly to module.

**To Reproduce**
-----------------------------------------------------------------------------------
This code snippet works:
main.bicep
[code]
testmodule.bicep
[code]
------------------------------------------------------------

[2022-10-21 13:06] jarodsmk commented on #5922
I encountered this after following the [Bicep CI/CD quick start guide](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/add-template-to-azure-pipelines?tabs=CLI#use-azure-resource-group-deployment-task), realised that the script there does have spaces in the name

[2022-10-21 14:59] Vox1984 commented on #8733
Thanks, I was afraid of this answer. That means for my specific scenario getSecret() is useless.
If I do secrets one-by one it is going to be awful mess.

[2022-10-21 15:32] alex-frankel commented on #7724
Yes, we will support `existing` references for AAD objects, which will be semantically equivalent to `existing` for Azure resources.

[2022-10-21 15:37] alex-frankel commented on #3447
Got clearance from Az PowerShell team to implement this. Moving it to 1.0 for now, but hopefully we can get to it sooner.

Some implementation notes/questions:
* `Install-AzBicep` cmdlet should have a default value for version and installation path which will be overwritten by the values set in AzConfig.
* Should we install the binary to the same location as Az CLI? This would be my personal prefe

[2022-10-21 15:49] msft-takend commented on #8659
Yeah I think it was just the order I did things in before.  Seems to have worked the second time.

[2022-10-21 15:58] #8659 closed

[2022-10-21 16:39] alex-frankel commented on #5922
@jarodsmk -- can you clarify? I don't see a deployment name with spaces at that doc link:
![image](https://user-images.githubusercontent.com/11078275/197246112-91f31e74-fd54-4f44-ab2c-2de686acb413.png)

[2022-10-21 16:48] jarodsmk commented on #5922
Hey @alex-frankel - of course 👌

The error is not thrown because of the deploymentName property, but rather the name property at the top

![Screenshot_20221021_184702](https://user-images.githubusercontent.com/6736209/197247652-0dde5f7e-3fe2-4f6f-b1b0-f7abfbb01582.jpg)

[2022-10-21 18:49] alex-frankel commented on #5922
Ah, this is a separate issue from what is discussed in this thread. This is the name of the workflow (or some other entity in GitHub Actions), not the bicep module. @mumian can you take a look at this and see if we need to update this doc?

[2022-10-21 18:54] jarodsmk commented on #5922
Oh my mistake, the error was so similar. Sorry for the confusion

[2022-10-21 22:26] PapaDers opened #8735 "Validation of application insights Classic resource mode in unsuported regions"
I want to start by saying I am new to this and am unsure if this is the correct area to report this. If someone can direct me to a better location I am happy to move this.

**Bicep version**
- Bicep CLI 0.11.1
- Using Azure pipelines task to validate Bicep code: AzureResourceManagerTemplateDeployment@3
- I am working in a new Azure region West US 3

**Describe the bug**
I am working through the [M

[2022-10-22 11:30] dazinator opened #8736 "Decompile failed - Unable to pick unique name for resource Microsoft.Network/dnszones/A"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
Downloaded an ARM template (json) from the portal for our Azure DNS Zone.
Then ran `az bicep decompile --file template.json` against it.
Got this error:

I assume its talking about the fact that there are different child resource types using the same name (i.e for the different record types)

e.g here are the relevent en

[2022-10-22 22:01] albernhagen commented on #6540
@alex-frankel glad to hear this is going to be addressed! Is there a more recent update about when this will be available?

[2022-10-23 10:04] ezYakaEagle442 commented on #8006
I have a [GitHub Workflow](https://github.com/ezYakaEagle442/aca-java-petclinic-mic-srv/blob/main/.github/workflows/deploy-iac-pre-req.yml) which failed as well with the same error :

[code]

In my workflow I did add :
[code]

It fails with **ERROR: Bicep CLI not found. Install it now by running "az bicep install".**
Whereas [Bicep is pre-installed on the GH Hosted Runners Ubuntu:latest ](https://

[2022-10-23 10:14] ezYakaEagle442 commented on #8006
What I do not understand is :

1. my Workflow worked fine so far
2. Today even when it fails on Job 2 on the same workflow, the previous Job 1 did run fine another Bicep file

[2022-10-23 10:50] ezYakaEagle442 commented on #8006
I have added the following and it the 403 error message doe not appear anymore :

[code]

[2022-10-23 13:09] jorlamd opened #8737 "InvalidRoleAssignmentId Error when following FQRID best practice"
Trying several ways to specify a roleDefinitionId property on a RoleAssignment resource, I keep getting:
`InvalidRoleAssignmentId: The role assignment ID must be a GUID`

This is a very simplified template that I used to reproduce the error:

`
resource roleDef 'Microsoft.Authorization/roleDefinitions@2018-01-01-preview' existing = {
  name: 'b24988ac-6180-42a0-ab88-20f7382dd24c'
  scope: subscrip

[2022-10-23 16:04] benc-uk commented on #3389
Any update on this?

[2022-10-24 08:31] cmptscpeacock opened #8772 "SystemAssigned Identity being created when creating UserAssigned"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
When creating ONLY a UserAssigned identity on a Microsoft.Compute/virtualMachines resource, a SystemAssigned identity is created too. This means when the deployment finishes both a System and User identity are present.

We see this in the ARM (taken from export template in the portal)

**To Reproduce**

[code]

The deplo

[2022-10-24 10:41] alexangas opened #8773 "Referencing a property for an existing resource named by module generates invalid ARM"
**Bicep version**
v0.11.1

**Describe the bug**
I am using a module to name resources consistently. In one of the templates that use this module, properties for those resources are used as parameter values to nested modules. This works without issue for new resources.

When referencing an existing module and attempting to perform the same operation, the Bicep builds but ARM deployment fails. The e

[2022-10-24 10:43] alexangas commented on #8773
Also, this may be related to #8144 but I lost my way in that issue so possibly not.

[2022-10-24 12:14] codepic opened #8774 "Provide a mechanism to maintain role assignments with idempotent names"
**Is your feature request related to a problem? Please describe.**

If I deploy a role assignment with the following bicep code, the initial deployment goes through just fine:

[code]

However, any subsequent runs will fail with the following error: `RoleAssignmentUpdateNotPermitted`

When I try to overcome this obstacle by forcing the name generation to change with every run, I get the following

[2022-10-24 12:18] codepic commented on #8774
In other words, the maintenance of roles should be simpler than [Looking up existing resources by properties other than name #4917](https://github.com/Azure/bicep/issues/4917)

[2022-10-24 13:04] olegd-superoffice opened #8775 "enable symbolicNameCodegen by default"
I'm using Azure SQL and app service managed identity to access the database. My deployment is run by application which uses admin username/password to access Azure SQL (i.e - not using azure admin but normal SQL server authentication), so `CREATE USER [<identity-name>] FROM EXTERNAL PROVIDER;` statement doesn't work.
Instead, I'm using managed identity client id as described in [this blog post](ht

[2022-10-24 14:23] petitess opened #8776 "AVD agents extension"
Hi

I've been working with AVD for a few weeks. I successfully deployed AVD with session hosts, but this was not an easy task. For this purpose I used Microsoft.Compute/virtualMachines/extensions with powershell scripts. It would be much easier if there was a dedicated extension like there is for Microsoft.EnterpriseCloud.Monitoring that automatically installs the agents.

You can look at my scrip

[2022-10-24 16:07] alex-frankel commented on #8006
@ezYakaEagle442 - it seems like you are hitting #3689, which we expect to be resolved soon. It is possible you got lucky with timing that the period for which GitHub sets a limit (I think it is one hour) had passed and your rate limit quota was refreshed.

From what I can tell from the earlier responses, the original issue from this thread was resolved by reverting back to not using the CDN, so I

[2022-10-24 16:07] #8006 closed

[2022-10-24 16:34] alex-frankel commented on #8728
@mumian can you cover this one?

[2022-10-24 19:16] Jaykul commented on #4186
This is **very broken** right now in Bicep @alex-frankel

We've been manually publishing each "major.minor.patch" release as "major" and "major.minor" (and even "latest") with tags --the same way we do with docker container images ...

1. When we publish 1.0.0 we also set 1.0 and 1 and latest ...
2. When we publish 1.0.1 we move 1.0 and 1 and latest ...
3. When we publish 1.1.0 we move 1 and lates

[2022-10-24 19:36] Jaykul opened #8778 "Support `bicep build --force`"
Or is there any way to clear the cache, or validate that the cache is still correct, other than by hand?

We were pushing tags for modules the way we do with docker container images -- so that we have a "1" and a "1.1" that get updated to point at the latest patched version of that release (e.g. "1.1.5") ...

A strategy I thought was recommended in #4186

However, because of bicep's caching, on a

[2022-10-24 20:20] majastrz commented on #8268
The `--force` argument is only available on `bicep restore`. We don't support it on `bicep build` currently.

[2022-10-24 20:21] majastrz commented on #8778
Yeah, we only have `--force` on `bicep restore`.

[2022-10-24 21:06] alex-frankel commented on #8778
@jaykul -- does using `--force` on `bicep restore` unblock you? We can leave this issue open to track adding `--force` to bicep build, which would be useful.

[2022-10-24 21:13] alex-frankel commented on #8731
@polatengin or @bhsubra -- can you take a look at this one?

[2022-10-24 21:16] alex-frankel commented on #8733
If it's possible to share, can you provide some more detail as to the type of bicep module that would have 256 secret values? It would be helpful to understand the scenario/complexity in more detail.

@miqm / @jeskew -- out of curiosity, is this limit related to untyped objects and could it be addressed after #4158?

[2022-10-24 21:16] polatengin commented on #8731
thanks for notifying @alex-frankel 👍 I'll take a quick look at the issue, @bhsubra do you want to join me?

[2022-10-24 21:19] alex-frankel commented on #8736
Tagging @StephenWeatherford / @puicchan since you all are focusing on the decompiler right now.

I am not sure what we could do for this particular scenario other than the append the resource type, but that would only be useful for this very specific use case.

[2022-10-24 21:21] alex-frankel commented on #8775
Does this work?

[code]

[2022-10-24 21:27] alex-frankel commented on #8776
This is not going to be very actionable in this repo. I'm not sure if there is a place for sharing ideas/collecting upvotes for Virtual Machines, but I will share this internally. I can leave it open for discussion/upvotes in the meantime.

[2022-10-24 21:30] polatengin commented on #8731
it seems VSCode Extension fails in this code-block;

[code]

Based on the callstack and error message shared, I assume the failing code is either `path.parse(documentUri.fsPath)` or `Uri.file(path.Join(filePath.dir, ${filePath.name}.parameters.json))`

It seems the extension couldn't reach and open the file in `c:\client-repos\xxxx\shared-appgw\src\main.parameters.json` location

@hansmbakker, by

[2022-10-24 21:31] alex-frankel commented on #8737
You are getting an error because of the `uamiRole.name` property value, not because of `uamiRole.properties.roleDefinitionId`. You can take a look at how this is done with the `guid()` function in this example:
https://github.com/Azure/ResourceModules/blob/main/modules/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep#L343

[2022-10-24 21:33] alex-frankel commented on #8772
This does not look like a bicep specific issue. We would recommend you instead open up a support ticket so this can be routed to the `compute/virtualMachines` team.

[2022-10-24 21:34] jeskew commented on #8733
@alex-frankel I think we'll need to figure out how the `@secure` decorator should work on typed objects. Currently, the secure flag can only be declared and never inferred, so the type of `config.linuxPassword` in @Vox1984's example would be `string`, not `secureString`. In theory, if `config` used property-level declarations, this limitation would no longer apply, e.g.,

[code]
would assign a typ

[2022-10-24 21:34] alex-frankel commented on #8730
@shenglol can you take a look at this one?

[2022-10-24 21:36] Jaykul commented on #8778
It looks like that will work.

However, I should point out:
1. Our current process is calling `New-AzResourceGroupDeployment` so any of this requires some extra work for us.
2. We frequently run more than one deployment in sequence as part of a release
3. That `bicep restore --force` doesn't check whether things need redownloading, but simply redownloads everything

As a result, it looks like it w

[2022-10-24 21:39] alex-frankel commented on #8773
I do think it is a duplicate of #8144. Closing for now.

[2022-10-24 21:39] #8773 closed

[2022-10-24 21:41] Jeremy-WinonaIT opened #8779 "OperationalInsights Workspace 'dailyQuotaGb' type inaccurate"
**Bicep version**
0.11.1 (030248df55)

**Describe the bug**
When attempting to set the dailyQuotaGb property; the Microsoft documentation, Bicep warning message, and actual data type needed are all in conflict.

[Microsoft Documentation](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.management.operationalinsights.models.workspacecapping.dailyquotagb?view=azure-dotnet) states that pr

[2022-10-24 21:42] alex-frankel commented on #6902
Closing due to no response.

[2022-10-24 21:42] #6902 closed

[2022-10-24 21:44] alex-frankel commented on #8729
Agreed that this is a lot of ceremony to write in order to accomplish this. As an aside, until this is improved, a module like this would be useful in the [public registry](https://github.com/Azure/bicep-registry-modules). cc @Gordonby / @dciborow in case they are interested in it.

[2022-10-24 22:08] alex-frankel commented on #8517
Going to need some lambda help with this one. I attempted to do something like this to work around, but I am getting a compiler error:

[code]

However, something like this does work:

[code]

@anthony-c-martin / @jeskew / @shenglol / @majastrz can probably figure out a way to do it with a simple array.

[2022-10-24 22:12] alex-frankel commented on #8774
If nothing is changing in the roleAssignment properties, then the update should succeed. Can you run `what-if` so we can see what changes are being attempted? Is it possible the role assignment is being augmented by policy prior to creation?

[2022-10-24 22:18] jeskew commented on #8517
I think there's a bug in the argument type inference for `reduce`. `prev` should have an assigned type of `object` or `{one?: 'true', two?: 'true', three?: 'true'}`, but both `prev` and `cur` are being assigned the type of values that may be passed in as `cur`:

![image](https://user-images.githubusercontent.com/705500/197640442-ffbc5a56-d1a4-4f26-b722-dd7fcbc11da0.png)

[2022-10-24 22:26] alex-frankel commented on #6540
Soon!

[2022-10-24 23:23] alex-frankel commented on #3389
No update, but I didn't notice how many upvotes this had received. I'll move it to the committed backlog and put it up for discussion to make sure we are not conceptually against having this support in the language.

[2022-10-25 05:24] davidsmatlak commented on #8735
I reviewed the error and found a workaround is to use the `eastus` region. I submitted a pull request to update the region in the [training module](https://learn.microsoft.com/training/modules/test-bicep-code-using-azure-pipelines) and that will publish tomorrow.

I'll update the template files to include deployment of a Log Analytics workspace. In my tests, a Log Analytics workspace resolved the

[2022-10-25 06:16] slavizh commented on #8733
I can provide an example with array of secure strings that you need to provide. Container apps - https://learn.microsoft.com/en-us/azure/templates/microsoft.web/containerapps?pivots=deployment-language-bicep for example have secrets which is array. So if you want to give the option end user to choose to provide 1, 10 or 100 secrets no easy way to do this.

[2022-10-25 06:35] olegd-superoffice commented on #8775
@alex-frankel No, this wouldn't work. This is about system assigned identity, not user assigned one.
`identity.principalId` wouldn't work here either. To quote [that blog post I mentioned](https://vosseburchttechblog.azurewebsites.net/index.php/2020/06/12/azure-sql-with-aad-authorization/):

[2022-10-25 08:01] Gordonby commented on #8729
I like the idea @alex-frankel 😸
I'm not sure if some of the complexities of tags will make this hard to implement, considering the different resource types tags can apply to.

I've just tried for a storage account and got;

### main.bicep

[code]

### main.test.bicep

[code]

[2022-10-25 08:37] andrem0 opened #8780 "Possibility to set default domain for Microsoft.Web/staticSites"
As of version 2022-03-01, the option to set a custom domain as "default" is not available with bicep (or arm, or through powershell...).

https://learn.microsoft.com/en-us/azure/templates/microsoft.web/staticsites?pivots=deployment-language-bicep

https://learn.microsoft.com/en-us/azure/templates/microsoft.web/staticsites/customdomains?pivots=deployment-language-bicep

Not sure if it should be a p

[2022-10-25 09:36] Vox1984 commented on #8733
Hi Guys,

My scenario might be not 100% typical. It is about keeping appServices configuration in key vault, which is probably not the usual case.

The following snippet shows settings I wanted to move to key vault:
[code]
each app have same section and the naming sometimes overlaps.
So as you see it would be nice to be able to **pass to the module** with getSecret() secure object **appSettings**

[2022-10-25 10:24] Adunaphel opened #8782 "Nested conditional statements in map() lambda function fail"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
A nested conditional statement inside a map() lambda function fails.

When deploying the following template:
[code]
The two outputs are expected to be the same, but the outputs are as follows:
[code]
Clearly the nested conditional statement fails as soon as the false-value is processed.

**To Reproduce**
Steps to reprodu

[2022-10-25 10:56] gogbg commented on #8723
Do you have any updates on https://github.com/Azure/bicep/discussions/5793

[2022-10-25 11:24] jorlamd commented on #8737
Deployment succeeds after generating the resource name per the example supplied.

Is it worth posting an issue for the docs so that this is clear to others?

Thanks for your response.

[2022-10-25 12:27] larsmaes-sogeti commented on #3568
This issue is also applicable to Azure Static Web Apps. An issue has been created on the static-web-apps repo: https://github.com/Azure/static-web-apps/issues/608
Is there anything you can do from this team?

[2022-10-25 12:46] Gordonby commented on #1013
Wait is available in the [bicep registry](https://github.com/Azure/bicep-registry-modules/blob/main/modules/deployment-scripts/wait/README.md) as a workaround.

[2022-10-25 13:00] Gordonby opened #8783 "Scope's to work with Dynamic Resources"
This will likely get solved as part of #2246
However my user case is that I want to dynamically assign a `resource reference` to the `scope` of a tag deployment;

eg
[code]

When attempting this I receive;

This makes sense, but the resource in my use case could be any azure resource time that a tag could be applied to.

The dynamic limitation is what is limiting here.

[2022-10-25 13:14] slavizh commented on #8782
+1

[2022-10-25 14:03] alex-frankel commented on #8737
Can you share which doc you were looking at that you expect to be updated? cc @tfitzmac / @mumian / @stephaniezyen as FYI

[2022-10-25 14:06] jorlamd commented on #8737
in fairness, the doc is extremely clear re name. (https://learn.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments?pivots=deployment-language-arm-template#roleassignments-1)

The part I find confusing is how would a user make the connection from error: "InvalidRoleAssignmentId: The role assignment ID must be a GUID" and the fact that 'name' is invalid.

[2022-10-25 14:12] tfitzmac commented on #8737
@jorlamd - does [this link](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/scenarios-rbac#name) contain the info that would have solved your issue?

If so, we could add a troubleshooting article that covers the same content. @davidsmatlak

[2022-10-25 14:17] mumian commented on #8737
I agree with @jorlamd.  Would it be helpful if we change the error message to "InvalidRoleAssignmentId: The role assignment name must be a GUID".

[2022-10-25 14:46] NickSpag opened #8784 "Invalid templatespec json generated by bicep"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
Bicep generates arm code that uses nested reference functions that will fail the portal's validation when used as a templatespec

**Context**
We have a managed application in the marketplace based on bicep files, with a standard main.bicep entry point. We have a separate update.bicep that is compiled to a templatespec th

[2022-10-25 16:07] alex-frankel commented on #8737
Shared this with the identity team

[2022-10-25 18:53] bhsubra commented on #8714
Thanks @Jonatan-V for reporting the issue.

This is currently blocked by https://github.com/Azure/azure-sdk-for-net/issues/27263. As a workaround, could you please try using azure cli for authentication?

cc: @puicchan, @alex-frankel, @shenglol

[2022-10-25 19:47] StephenWeatherford commented on #8736
I know this does happen sometimes, don't know offhand the exact scenarios.  The following (from above) didn't give me a problem:
[code]
Gave this correct decompilation (both in 0.10 and 0.11):
[code]
I'll try from portal later, can't right now.

[2022-10-25 19:49] StephenWeatherford commented on #8736
Note: Either way, I do think we shouldn't fail on this, should simply append something else until we get a unique name even if it's ugly.

[2022-10-25 20:12] matsest commented on #2082
As a note to myself next time I look this up (or for others), this is a working method of doing this either by using lambdas or union:

[code]

[2022-10-25 21:01] alex-frankel commented on #8736
@dazinator -- can you confirm if you can still repro this one?

[2022-10-25 22:46] bhsubra opened #8785 "Watch for changes to loadTextContent()"
When bicep file has loadTextContent(..) function, and user updates file used in load function, deploy/build doesn't pick the changes in load function files. This is because we only watch for changes in .bicep file. I have a [PR](https://github.com/Azure/bicep/pull/8721) to fix issue in build and deploy, but there could be more scenarios affected by this. Creating this issue to track changes to loa

[2022-10-25 22:58] dazinator commented on #8736
I can still repro with my own downloaded copy of the ARM json template yes. When I get some time i can anonymise it and post the full template here

[2022-10-25 23:14] PapaDers commented on #8735
Awesome! I also resolved issue by adding a Workspace resource, variable for workspace name, and linked Application Insights resource with the workspace symbolic name.

I read the note in Unit 3 about the provider preforming the check. I wasn't quite sure how to report this issue to the provider or if this problem should be reported through Bicep project?

[2022-10-26 01:50] davidsmatlak commented on #8735
@alex-frankel Can a Bicep engineer respond to the question about the `Microsoft.Insights` resource provider's preflight checks? From a documentation perspective the issue is resolved with a [valid workaround](https://github.com/Azure/bicep/issues/8735#issuecomment-1289999836) and I'll publish an updated template this week that includes a Log Analytics workspace.

[2022-10-26 06:01] shenglol commented on #8144
Yes, we would need to detect double references and block them.

[2022-10-26 07:30] MartinSGill opened #8786 "backendIPConfiguration missing when deploying Microsoft.Network/loadBalancers/inboundNatRules"
**Bicep version**
`Microsoft.Network/loadBalancers/inboundNatRules@2022-05-01`
Bicep: Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**

Using the Portal and selecting "Azure Virtual Machine " option to create NAT rule results in (resources.azure.com):

[code]

Creating this in bicep seems to be impossible:

[code]

When the resource is deployed it is identical to the one created by the

[2022-10-26 09:25] cmptscpeacock opened #8788 "If statement causes depends on to error original resource deployment"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
When creating a resource based on an "if" statement, if another resource that depends on that original resource is deployed it causes the original resource to show a 'Deployment 'sqlMIManagedIdentity' could not be found. (Code: DeploymentNotFound)' error.

As can be seen, I am deploying a SQL MI Managed Identity in this

[2022-10-26 09:41] #8788 closed

[2022-10-26 09:41] cmptscpeacock commented on #8788
closing as duplicate https://github.com/Azure/bicep/issues/3750

[2022-10-26 09:45] cmptscpeacock commented on #8788
Fixed with workaround:

    identities: !isDevEnvironemnt ? sqlMIManagedIdentity.outputs.managedIdentityResourceId : ''

[2022-10-26 09:49] #4481 closed

[2022-10-26 11:12] Vox1984 commented on #8733
Hi afscrome,

I know I could use the reference, and that was my first choice. But as you said I would need to have managed identity. For some stupid project reasons this is non an option.

Also as far I understand, If I use getSecret and a secure string with @secure() decorator, those values won't be available after the deployment and they won't be in the code repo as well

https://learn.microsoft

[2022-10-26 12:37] smthbh commented on #8723
Can the Bicep team work with the ARM team to increase the resource manager job size limits?
Currently the deployment job size limit is 1MB, and modularizing doesn't help since Bicep modules will still compile to one arm template for deployment.
Some of this is mentioned in [#5890 ](https://github.com/Azure/bicep/issues/5890), though it mainly focuses on the template limit and not the job limit.

T

[2022-10-26 13:19] slavizh commented on #8723
@smthbh FYI, Bicep team and ARM team are the same.

[2022-10-26 13:44] smthbh commented on #8723
Editing my comment, thanks!

[2022-10-26 14:19] puicchan opened #8789 "VS Code - “View Type Documentation” to click and open readme for module in Bicep registry"
To improve Bicep registry browsing and consumption experience, we should be able to mouse over module, see "View Type Documentation" and open the readme for the module.

Mockup:
![image](https://user-images.githubusercontent.com/8701892/198051360-baa474ed-eb60-4215-9e9d-980ee75c079b.png)

- for both private and public registry
- for location of the readme we need to include gesture in CLI (when pu

[2022-10-26 14:27] puicchan opened #8790 "VS Code - add publish to registry command"
To improve experience when publishing modules to Bicep registry, we should be able to right-click and/or have an option in command palette to publish module(s) to registry.

UX - need to think through user experience.

[2022-10-26 14:51] onionhammer commented on #440
This would be a very useful addition for when keys are unavoidable.

[2022-10-26 15:35] wvangeem opened #8791 "Cannot deploy emailServices twice - ResourceNameUnavailable"
When I deploy an Email Service with "az deployment group create..." with following bicep template

[code]

This works the first time, but the second time I get following response : ResourceNameUnavailable

[code]

Any idea how this can be solved?

[2022-10-26 16:58] alex-frankel commented on #8786
It's possible for our type definitions to be incorrect if the underlying REST specification is incorrect. That's why this is a warning and not an error. What happens when you deploy this bicep code?

[2022-10-26 17:00] alex-frankel commented on #8791
This is an idempotency issue that the Resource Provider team (`Microsoft.Communication/emailServices`) needs to resolve. Can you open a support ticket so this can be routed to them?

[2022-10-26 18:30] mauve opened #8792 "Role assignment requirement to perform What-If seems a bit too wide"
**Bicep version**
0.11.1

**Describe the bug**
what-if requires /write permissions on resources.

I want to run what-if in PR verification build on a subscription with very sensitive data so it is important that nobody can modify the resources without approval first. Therefore, we require approval to use the service connection (Azure DevOps Pipelines) which performs the actual deployment.

However

[2022-10-26 19:01] michael-crawford commented on #8448
@majastrz You agree that's a bit of a hack, though, right?

I also think that it should be possible to indicate the @allowed set is matched in a case-insensitive way, as in many cases, Microsoft has names which show up capitalized or uncapitalized in different contexts.

Case in point this very example - these location names often appear as 'EastUS' in one setting or in documentation, but 'eastus'

[2022-10-26 21:49] miqm opened #8794 "Add option to gzip file in loadFileAsBase64 function"
**Is your feature request related to a problem? Please describe.**
Azure VM Custom Script extension can take a gzip-compressed base64 encoded script file as input.
Currently, while loading file as base64 we're limited by the maximum length of a string literal. If we prior compress the file with gzip we'll be able to load larger files in the template

**Describe the solution you'd like**
I'd like t

[2022-10-26 23:08] johndowns commented on #3568
It looks like the Static Web Apps issue is separate - it's got similar symptoms, but these are two different resources and so they behave differently.

[2022-10-27 03:42] basigu opened #8797 "ResourceNotFound - At least one resource deployment operation failed."
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
logAnalytics resource is not available when  containerAppEnv resource is created, so I get ResourceNotFound error.

**To Reproduce**
Steps to reproduce the behavior:

I have the following bicep files

**logAnalyticsWorkspace.bicep**

[code]

**acaResources.bicep**
[code]

**main.bicep**
[code]
**aca-sit.parameters.json**

[2022-10-27 05:30] tw3lveparsecs commented on #1013
@Gordonby that's good to know. Is there any way this can be used inside a loop? See my previous post for an example.

[2022-10-27 07:03] wvangeem commented on #8791
Ok, I will do so.
Thanks.

[2022-10-27 07:03] #8791 closed

[2022-10-27 08:26] MartinSGill commented on #8786
As indicated in the original post, when I run the bicep with `backendIPConfiguration` set the deployment completes successfully, but when I then inspect the created resource the `backendIPConfiguration` is missing.

My bicep looks like this.

[code]

I managed to work around (or found the correct way of doing it, not sure) by not adding the `backendIPConfiguration` to the NatRule, instead I added

[2022-10-27 09:08] UV400 commented on #7402
Has there been any progress on this issue? It's a shame to have to resort to using cli or powershell.

[2022-10-27 12:15] vebjornmalmin opened #8798 "`filter` function with mulitple `contains` in lambda expression"
**Bicep version**
v0.11.1

**Describe the bug**
Bicep's `filter` function does not handle multiple `contains` in lambda expression properly. Seems to evaluate only the first condition.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Output:
[code]

Expected:
[code]

[2022-10-27 13:34] vargazol opened #8799 "database minCapacity: a floating-point number is not considered valid"
The property "minCapacity" expected a value of type "int | null" but the provided value is of type "string".

Microsoft.Sql/servers/databases@2022-02-01-preview doesn't accept "float" type minCapacity setting, although the interface supports vCore values of 0.5 or 0.75.

Workaround: I add this parameter as string, but it would be nice to support float as well.

[2022-10-27 14:07] jikuja opened #8800 "Microsoft.KeyVault/vaults/accessPolicies deployment reference misses naming contrains"
**Describe the bug**
[deployment reference documentation
](https://learn.microsoft.com/en-us/azure/templates/microsoft.keyvault/vaults/accesspolicies?pivots=deployment-language-bicep) does NOT contain any information about resource naming constrains. IMO deployment reference should contain most or even all information that is needed to use given resource. As far as I know key vault documentation d

[2022-10-27 14:32] jikuja opened #8801 "Microsoft.Network/privateEndpoints deployment reference documantion contains unneeded information"
**Describe the bug**
Deployment reference documentation for [Microsoft.Network/privateEndpoints](https://learn.microsoft.com/en-us/azure/templates/microsoft.network/privateendpoints?pivots=deployment-language-bicep#resource-format) includes full subnet information.

------

The deployment process requires only the following information:
![image](https://user-images.githubusercontent.com/928458/198

[2022-10-27 14:53] UV400 opened #8802 "Apply decorator once to a list of parameters"
My main module takes a lot of secure parameters. Instead of having to do:
[code]

I want something like:
[code]

It looks silly to repeat the secure decorator on each parameter when you a large amount of parameters.

[2022-10-27 15:22] erwelch commented on #784
'Microsoft.Authorization/policyAssignments@2020-03-01'

Doesn't allow user assigned identities. The documentation says it should be:
[code]

But the bicep template does not allow 'UserAssigned' and give this error for the ids: "userAssignedIdentities" is not allowed on objects of type "Identity".

[2022-10-27 15:32] jikuja commented on #5771
Would it be possible to re-open this?

[#5742](https://github.com/Azure/bicep/issues/5742) is not really a dupe of this at all.

Also this feature request should be handled on https://github.com/Azure/bicep/issues/7301 and tickets describing .bicepparams usage.

[2022-10-27 15:56] alex-frankel commented on #8723
@smthbh - do you have a way to consistently repro the issue? We've had issues in the past with job size, but they should have been resolved. The 4MB limit is a hard limit, but you should not be running into the 1MB limit.

[2022-10-27 15:58] alex-frankel commented on #8723
@gogbg - please track this request with #6540. Hoping this is done in the next 1-2 months.

[2022-10-27 16:07] smthbh commented on #8723
Yup we can reproduce 100%. We just put in a ticket last week and got this response on Friday:

The template that was used during the deployment was too large to deploy.
The template content itself is 734,426 bytes.
But when it is deployed it goes up to 1096380 bytes which is larger than the 1048576 bytes maximum.
The recommendation is to break it up into modules as the error page suggests.

We can

[2022-10-27 17:34] jasonskipper commented on #3212
This has not been fixed. I set the RetentionInDays property and VS Code highlights it and says:

The proper "RetentionInDays" is read-only. Expressions cannot be assigned to read-only properties.

[2022-10-27 18:51] bhsubra opened #8803 "Add command to list all inputs to loadTextContent(..) function"
Add command to list all inputs to loadTextContent(..) function. See https://github.com/Azure/bicep/pull/8721#discussion_r1001459620 for more details.

[2022-10-27 22:58] majastrz opened #8805 "New linter rule to track usage of deployments scripts with EOL OS images"
Ubuntu 18.04 will be out of support on April 30, 2023 with only extended security maintenance window providing fixes. We should add a linter rule to encourage deployment script users to upgrade their images by increasing the version of Az PS module in deployment scripts.

Link: https://computing.cs.cmu.edu/news/2022/eol-ubuntu-1804#:~:text=Ubuntu%20Linux%2018.04%20LTS%20will%20reach%20the%20end%20

[2022-10-27 23:45] StephenWeatherford commented on #8736
Thanks!

[2022-10-27 23:50] #8239 closed

[2022-10-27 23:52] #7739 closed

[2022-10-28 05:35] #7066 closed

[2022-10-28 07:43] jambar42 commented on #4757
Why not both? IMO immutability should be the default, with the option to override. As a break glass scenario, the container registry owner could always update the tag lock and delete or update the module, but that should be an edge case. There should be options within bicep itself, as well as container storage security measures.

[2022-10-28 16:18] alex-frankel commented on #5771
@jikuja agreed this is not a dupe and agreed we could (not necessarily should) feasibly address this with `.bicepparams` support. I will re-open.

[2022-10-28 17:22] alex-frankel commented on #8801
This is by design. Template Reference shows all possible properties, not only what is required. I would consider it a feature request of template reference to show a "Minimum Resource Format" that only displays required properties. cc @tfitzmac / @stephaniezyen as FYI

[2022-10-28 18:07] tfitzmac commented on #8801
I believe this is an issue with the RP specification. It looks like they are reusing a definition when just the id property should have been defined.

We won't be adding a minimum format section because the required flag is not reliable. There are lots of properties that become required when another property is set. So, I think a minimum view would be misleading.

However, we can address this issu

[2022-10-28 18:50] jongio opened #8807 "Empty default parameter value passed to modules"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**

In main.bicep, I have a parameter that defaults to empty string.
[code]

I pass that value to a module, which has the same parameter, but defaults to a db name:

[code]

In that module, databaseName is empty.

I would expect bicep to use `dbname` if the passed in value is empty string.

**To Reproduce**
Steps to reprodu

[2022-10-28 19:01] anthony-c-martin commented on #8807
I believe this is by design - we distinguish between a parameter **not being passed** and a parameter **being passed** with an empty string value.

It would be nice if there was a mechanism to opt into the behavior you're looking for - I'm not aware of a way to do it in Bicep today.

[2022-10-28 19:06] anthony-c-martin commented on #8807
Thinking of ways to workaround this behavior, my suggestion would be something like this:

[code]

Definitely not ideal...

[2022-10-28 19:09] #8511 closed

[2022-10-28 20:28] StephenWeatherford opened #8808 "Decompile docs should mention the new decompile command from within vscode"
For instance: https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/decompile and https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/migrate

See https://github.com/Azure/bicep/pull/8804 - it's not merged yet but I expect it to be in the 0.12 release next week.

[2022-10-28 22:54] wsmelton opened #8810 "[VS Code Extension] Formatter applying constant spaces"
**Bicep version**
Bicep CLI version 0.11.1 (030248df55)

Extension: 0.11.1

VS Code - Insiders:
[code]

**Describe the bug**
Applying format to a Bicep file causes additional spaces to be added after the extension already formatted the current contents in the active editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Open VS Code
2. Create a Bicep file
3. Add content where a function is

[2022-10-29 18:37] anthony-c-martin commented on #1285
@ugreg my command was for the bicep CLI (not az CLI). Here's how I'd do it with az CLI:
* OSX/Linux:
[code]
* Windows:
[code]

[2022-10-29 18:38] anthony-c-martin commented on #246
See #1285 for commands you can use to accomplish this today.

[2022-10-29 19:35] miqm commented on #1852
I've found a potential workaround - however it's not currently possible in bicep due to - I think - a bug:
[code]
This in fact should be possible as frontendIpConfig is an **existing** resource and therefore should be (IMHO) excluded from the cycle detection.

[2022-10-30 15:29] jeskew opened #8811 "Replace `SimpleTypeSyntax` with `TypeAccessSyntax` throughout"
This was not done in #8673 because it causes a huge number of baseline changes, which would have made an already too large PR significantly larger. In isolation, it should be a PR with a tiny logic change and a bunch of baseline updates.

[2022-10-30 15:33] jeskew opened #8812 "Use an enum instead of strings to identify ARM type kind"
Worth creating a reusable method for this? Can we reference `LanguageConstants.TypeNameString` here?

_Originally posted by @anthony-c-martin in https://github.com/Azure/bicep/pull/8673#discussion_r1007477047_

[2022-10-30 15:37] jeskew opened #8813 "Update `Azure.Deployments.*` dependencies"
There are a few lines in https://github.com/Azure/bicep/blob/3f448ab2d0656217a91a59c35f248a80189a3fad/src/Bicep.Core.Samples/Files/TypeDeclarations_LF/main.bicep that are commented out because the version of `Azure.Deployments.Templates` is a bit out of date. A copy of the version currently in use in the runtime should be published to NuGet and pulled in here.

[2022-10-30 20:34] georgekosmidis commented on #3689
So happy October is ending today, and I just hit this issue :)

[2022-10-31 14:33] coolhome opened #8842 "Existing Resource - Not able to reference full resource?"
**Bicep version**
[code]

**Describe the bug**
Not exactly clear what is going on here.

**To Reproduce**
Steps to reproduce the behavior:

[code]

When executed produces the following error:
[code]

Fully compiled template - https://gist.github.com/coolhome/db6a7fce0626bc2c433510c901909310

Generates the following bicep:
[code]

Not exactly sure why the reference removed the properties key word?

[2022-10-31 15:02] #8842 closed

[2022-10-31 15:03] coolhome commented on #8842
Closing because the issue is the CARML subnet contract does not match the subnet data. (facepalm)

[2022-10-31 15:21] Jaykul commented on #1013
There are a few caveats to that.

- First, deployment scripts [require your deployment user to have permissions](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/deployment-script-bicep#configure-the-minimum-permissions) to create storage and container instances
- Second, deployment scripts create storage and container instances, so they _cost money_.
- Third, even deployment s

[2022-10-31 16:05] coolhome opened #8843 "lambda map - null values turning into empty string?"
**Bicep version**
az bicep version
Bicep CLI version 0.11.1 (030248df55)

**Describe the bug**
Mapping subnets from existing virtualNetwork and unable to make properties null?

**To Reproduce**
Steps to reproduce the behavior:
[code]
![image](https://user-images.githubusercontent.com/700740/199053755-e6371fbe-eed8-4e94-9372-24104dac0973.png)

Why is `routeTableId` an empty string if it does not ex

[2022-10-31 16:15] coolhome commented on #8843
Switching `!empty(subnet.properties.routeTable.id)` to `length(subnet.properties.routeTable.id) > 0` produced the correct output. Not really sure if I understand the combination of `contains` & `!empty`.

[2022-10-31 17:37] anthony-c-martin commented on #8782
I believe this is the same issue as #8798 & #8843.

I dug into this, and found that the DeploymentEngine has an optimization to cache partial function values when using any of the `or()`, `and()` and `if()` ARM JSON functions (equivalent to `&&`, `||` and ternary (` ? : `) in Bicep.

Unfortunately this is going to require a runtime fix. I have submitted this fix, which will be rolled out in the ne

[2022-10-31 17:40] alex-frankel commented on #8798
Closing and tracking with #8782

[2022-10-31 17:40] #8798 closed

[2022-10-31 17:41] alex-frankel commented on #8843
Closing and tracking with #8782

[2022-10-31 17:41] #8843 closed

[2022-10-31 17:42] alex-frankel commented on #8808
@mumian - do you have bandwidth for this?

[2022-10-31 17:43] mumian commented on #8808
I will take care of it.

[2022-10-31 17:45] alex-frankel opened #8845 "Show "introductory usage of resource type" in Template Reference"
I believe this is an issue with the RP specification. It looks like they are reusing a definition when just the id property should have been defined.

We won't be adding a minimum format section because the required flag is not reliable. There are lots of properties that become required when another property is set. So, I think a minimum view would be misleading.

However, we can address this issu

[2022-10-31 17:45] alex-frankel commented on #8845
FYI @tfitzmac / @mumian / @stephaniezyen -- moved this specific request out to a separate issue for tracking.

[2022-10-31 17:53] alex-frankel commented on #5771
Curious to understand what the potential negative implications would be for starting to allow this. We could emit a warning in the language service and as part of emitting ARM parameters and ARM template. When would a warning *not* be sufficient? cc @bmoore-mstf who may know more about this.

[2022-10-31 18:07] jikuja commented on #5771
One option might be adding option for tooling to
* ignore
* warn
* error (current behaviour)
if unused parameters are being passed.

-----

What would be correct level to implement this check?
* Tooling only or tooling and API? (See next section for more info)

-----

API:
How does `PUT https://management.azure.com/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microso

[2022-10-31 18:28] alex-frankel commented on #8807
@jongio do you think this is a duplicate of #5742?

[2022-10-31 18:51] #8723 closed

[2022-10-31 18:57] miqm commented on #1852
I found a working workaround but quite ugly:

[code]

[2022-10-31 21:05] majastrz commented on #1852
If we proceed with excluding the `existing` resource dependency, we should also ensure that it works correctly with symbolic name codegen because we emit `existing` resources to JSON in that case.

[2022-10-31 21:16] miqm commented on #1852
Assigning this to myself, however if someone is willing to pick this up - please write down a comment

[2022-10-31 22:33] StephenWeatherford opened #8847 "Parameters shouldn't interfere with decorator namespace"
The following bicep builds:
[code]
into this:
[code]
... so I assume creating a "description" metadata on a bicep file/module is allowed.

*BUT*...  It redefines the "description" function, so that this:
[code]
fails to compile:
[code]

Is this expected?  Seems weird.

[2022-10-31 23:59] #5258 closed

[2022-11-01 01:12] brwilkinson opened #8849 "lambda and filter precedence question"
**Bicep version**
[code]

**Describe the bug**
trying to reconcile the precedence used in a lambda expression or acknowledge any limitation.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Additional context**

Build ARM template

[code]

The following appears to work correctly

[code]

however the following does not ?!

[code]

##### I tried to use parens to confirm order of process

[2022-11-01 01:15] davidsmatlak commented on #8735
The documentation issue for the [training module](https://learn.microsoft.com/training/modules/test-bicep-code-using-azure-pipelines/) is resolved. The content and templates were updated and published. The updated template includes a Log Analytics workspace so that Application Insights deploys to West US3. The [Application Insights Classic](https://learn.microsoft.com/azure/azure-monitor/app/creat

[2022-11-01 02:14] brwilkinson commented on #8849
Possibly duplicate of https://github.com/Azure/bicep/issues/8782

If so please feel free to close.

[2022-11-01 09:45] vcantrell commented on #3267
@JulienFloris Did you ever figure this out? I'm running into this when trying to setup flow logs on single-deployment bicep deployments where both the subscription is deployed, then the resources. I'm unable to setup flow logs automatically because there seems to be no way to register the Microsoft.Insights resource provider via BICEP...

Do we know if RP registration is in the pipeline at all for

[2022-11-01 10:32] BartDecker opened #8851 "Is there such a thing as a count operator (for policy rules) in Bicep?"
Is there such a thing as a count operator (for policy rules) in Bicep?

Such as described here for ARM -> https://learn.microsoft.com/en-us/azure/governance/policy/samples/pattern-count-operator

I'm trying to put the deployment of the following policy definition in a bicep template -> /providers/Microsoft.Authorization/policyDefinitions/ffb6f416-7bd2-4488-8828-56585fef2be9 / Enable export to Log

[2022-11-01 12:29] jorlamd opened #8852 "Opaque Template Validation Error - Remediation Task"
**Bicep version**
0.11.1.770

**Describe the bug**
Trying to create a policy with "deployIfNotExists" effect using Bicep. The policy definition and assignment work as expected, registering a definition and assignment visible through the porta. When it comes to creating an associated remediation task, I keep getting an "InvalidDeployment" (with reason: "The deployment definition is invalid." ). Run

[2022-11-01 16:48] jongio commented on #8807
I think that issue is nuanced around including the parameter in resulting arm template.  This issue is about having to default values in multiple places.  If you want to bucket them in the same realm that's okay with me.

End game, I would like to see:

main.bicep

    param name1Param = ''

    module module1.bicep:
           param:
               name1Param: name1Param

module1.bicep

    param

[2022-11-01 16:57] michael-crawford commented on #8132
The search path for bicepconfig.json is poorly documented. Can you please document where this file should be placed and if it is searched for in multiple locations (i.e. from the bicep file being run, first in the same directory, then in each parent directory up to ?; + anywhere else, such as ~/.azure/bicepconfig.json, or /etc/azure/bicepconfig.json or the Windows standard equivalent directory), a

[2022-11-01 18:10] bhsubra opened #8855 "Remove VisualStudioCodeCredential support from bicepconfig.json"
VisualStudioCodeCredential support is currently disabled in azure-sdk-for-net. See below two issues for more details:
https://github.com/Azure/azure-sdk-for-net/issues/27263
https://github.com/Azure/azure-sdk-for-net/pull/31755

We should disable it at our end and ask users to use azureCli till the issue is resolved. We also need to update the documentation here:
https://learn.microsoft.com/en-us/

[2022-11-01 19:06] #8813 closed

[2022-11-01 19:46] #6963 closed

[2022-11-01 19:48] StephenWeatherford commented on #1591
Closing for now.  Please respond or open a new issue if you feel there are more improvements needed, thanks!

[2022-11-01 19:48] #1591 closed

[2022-11-01 20:00] StephenWeatherford commented on #8013
@jtracey93 I've asked about this in the past and seen little interest.  It wouldn't be hard to add, if you think it should be configurable, please enter an issue so we can gauge interest.

[2022-11-01 20:11] StephenWeatherford commented on #8013
Changed: Location rules moved to (theoretical) portability category, will be turned off by default.

[2022-11-01 20:13] StephenWeatherford commented on #6210
@slavizh Okay, Stan, you've convinced me, the location rules will be turned off by default.  :-). See https://github.com/Azure/bicep/issues/8013#issuecomment-1299081270

If it would be helpful to have a different rule available for your usage (e.g. maybe one that checks that all location properties are set to the same value, whether "location" or resourceGroup().location), please enter a new issue

[2022-11-01 20:13] #6210 closed

[2022-11-01 20:22] StephenWeatherford commented on #8132
@michael-crawford Please create a separate issue for this, thanks!

[2022-11-01 20:24] StephenWeatherford commented on #8132
As for the original bug, it was entered when I didn't realize the bicep file and its config file were outside of the project.  Not sure this is worth fixing.

[2022-11-01 22:27] StephenWeatherford commented on #7732
Bhavya says is pretty stable now.